<template>
  <div class="container">
    <div class="row mt-5 pt-5 justify-content-center">
      <div class="col-md-4">
        <div class="card border-white border-3 p-2 rounded-3 shadow bg-light w-75">
          <div class="card-img d-flex justify-content-center pt-3">
            <img src="@/assets/profile.png" class="img-responsive" height="150" width="150" alt="">
          </div>
          <div class="form-card mt-5">
           <form @submit.prevent="validatelogin">
              <div class="my-3" v-if="this.notification">
                    <p class="text-danger text-xs text-center">
                      Veuillez remplir tous les champs
                    </p>
                  </div>
              <div class="form-group">
                <label for="email" class="fw-bold"> Adresse email <span class="text-danger">*</span></label>
                <input v-model="form.mail" type="email" name="email" id="email" class="form-control">
              </div>
               <div class="form-group pt-2">
                <label for="password" class="fw-bold"> Mot de passe <span class="text-danger">*</span></label>
                <input type="password" v-model="form.password" name="password" id="password" class="form-control">
              </div>
              <div  class="col-md-12 d-flex justify-content-end">
                <nuxt-link to="/auth/supervisor/reset" class="text-danger text-decoration-none"><em>Mot de passe Oublié ?</em></nuxt-link>
              </div>
              <div class="card-btn mt-2 d-flex justify-content-center">
                <button class="shadow fw-bold btn btn-primary">Se connecter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script> 
export default {
  data() {
    return {
      form: {
        mail: null,
        password: null,
      },
      onload: false,
      notification: false,
    };
  },
  created() {
    if(this.$auth.user){

      if(this.$auth.user.superviseur){
      this.$router.push('/dashboard/supervisor');
    }
    
    }
  },
  methods: {
   async validatelogin() {
      if (this.form.password == null || this.form.mail == null) {
        this.notification = true;
      } else {
        await this.verificationLogin();
      }
    },
    async verificationLogin() {

      try {
       const response = await this.$auth.loginWith("admin", {
          data: {
            email: this.form.mail,
            password: this.form.password,
          },
        });
        console.log(response.data.data.token)
        this.$router.push("/dashboard/supervisor")

      } catch (e)
      {
        if(e.response){
          this.$swal.fire(e.response.data.message)
          this.error = e.response.data;
        }else{
           this.$swal.fire('Serveur indisponible veuillez réessayer plus tard!', '', 'error')
        }
      }
    },
  },
};
</script>
