<template>
  <div class="container">
    <div class="row mt-5 pt-5 justify-content-center">
      <div class="col-md-4">
        <div class="card border-white border-3 p-2 rounded-3 shadow bg-light w-75">
          <div class="card-img d-flex justify-content-center pt-3">
            <img src="@/assets/profile.png" class="img-responsive" height="150" width="150" alt="">
          </div>
          <div class="form-card mt-5">
            <form>
              <div class="form-group">
                <label for="email" class="fw-bold"> Adresse email <span class="text-danger">*</span></label>
                <input type="email" name="email" id="email" class="form-control">
              </div>
              <div class="col-md-12 d-flex justify-content-end mt-2">
                <nuxt-link to="/auth/supervisor" class="text-danger text-decoration-none"><em> Se connecter ?</em></nuxt-link>
              </div>
              <div class="card-btn mt-2 d-flex justify-content-center">
                <button class="shadow fw-bold btn btn-primary">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
