<template>
    <nav class="main-header navbar navbar-expand navbar-white elevation-2 py-0">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link shadow-sm" style="color: #184f69; font-weight: bold;" data-widget="pushmenu" href="#" role="button">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block"  >
        <nuxt-link to="/dashboard/supervisor/"  class="nav-link" style="color: #184f69; font-weight: bold;">Dashboard</nuxt-link>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <a class="nav-link" @click="logout" role="button" style="color: #184f69; font-weight: bold;">
                <ion-icon name="log-out-outline"></ion-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="color: #184f69; font-weight: bold;">
                <ion-icon name="expand-outline"></ion-icon>
            </a>
        </li>
    </ul>
  </nav>
</template>
<script>
export default {
   methods: {
    async logout(){
      await this.$auth.logout();
      this.$router.push('/auth/supervisor')
    }
  }
}
</script>
