<template>
     <aside class="main-sidebar elevation-2" style="background: #184f69">
          <!-- Brand Logo -->
      <nuxt-link to="/" class="brand-link navbar-white">
        <img src="@/assets/logo.svg" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
        <!-- <span class="brand-text fw-bold text-black pl-3"><b>DrivEduc</b></span> -->
      </nuxt-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel pb-3 mb-3 d-flex">
        <div class="image">
          <img src="@/assets/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/dashboard/supervisor/changePassword/ " class="d-block text-dark uk-link-reset fw-bold">{{loggedInUser.data.name }} {{loggedInUser.data.surname }}  </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <div class="">
            <ul uk-accordion>
                <li>
                  <a class="uk-accordion-title text-white" href="#">
                    <ion-icon name="settings"></ion-icon>
                    <small class="fw-bold">Mes paramètres</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/dashboard/supervisor/changePassword" class="nav-link">
                      <span uk-icon="icon: user; ratio: 1"></span>
                      <p>Changer mon mot de passe</p>
                    </nuxt-link>
                    <a href="#" class="nav-link">
                      <span uk-icon="icon: sign-out; ratio: 1"></span>
                      <p>Se deconnecter</p>
                    </a>
                  </div>
                </li>
                <li>
                   <nuxt-link to="/dashboard/supervisor/plageHoraire" class="nav-link h5 fw-none text-white">
                    <span uk-icon="icon: calendar; ratio: 1"></span>
                    <small class="fw-bold">Ajout Plage horaire</small>
                    </nuxt-link>
                </li>
                <li>
                   <nuxt-link to="/dashboard/supervisor/plages" class="nav-link h5 fw-none text-white">
                    <span uk-icon="icon: calendar; ratio: 1"></span>
                    <small class="fw-bold">liste Plage horaire</small>
                    </nuxt-link>
                </li>
                <li>
                   <nuxt-link to="/dashboard/supervisor/listRdv" class="nav-link h5 fw-none text-white">
                    <span uk-icon="icon: list; ratio: 1"></span>
                    <small class="fw-bold">Rendez-vous</small>
                    </nuxt-link>
                </li>
                    <li>
                    <nuxt-link to="/dashboard/supervisor/verifCode" class="nav-link h5 fw-none text-white">
                     <span uk-icon="icon: list; ratio: 1"></span>
                    <small class="fw-bold">Verifier un rendez-vous</small>
                    </nuxt-link>
                </li>

            </ul>
          </div>
        </ul>
      </nav>
    </div>
  </aside>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  }
}
</script>
