<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-12">
          <div class="btn">
            <nuxt-link
              to="/dashboard/admin/add-centre"
              class="btn btn-primary shadow fw-bold float-start"
            >+ Ajouter un centre</nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color:#184f69">Liste des centres</h1>
            </div>
            <div class="card-body">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Nombre Simulateur</th>
                    <th scope="col">Superviseur</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row" v-for="(centre, no) in centres" :key="centre.id">
                    <th>{{no+1}}</th>
                    <td>{{centre.centre_name}}</td>
                    <td>{{centre.centre_adresse}}</td>
                    <td>{{centre.nb_simulateur}}</td>
                    <td>{{centre.nom_admin}} {{centre.prenom_admin}}</td>
                    <td>{{centre.is_delete ? 'Ce centre n\'est plus en service' : 'Ce centre est en service'}}</td>
                    <td>
                      <button
                        class="btn btn-danger shadow text-white"
                        v-on:click="delCen(centre.centre_id)"
                      >
                        <span uk-icon="icon: trash; ratio: 1"></span>
                      </button>

                      <!--  <a href class="btn btn-info shadow text-white"
                        v-on:click="redirectUpdate(centre.id)"
                      >
                        <span uk-icon="icon: file-edit; ratio: 1"></span> Modifier
                      </a>
                      -->
                      <nuxt-link
                        :to="'centres/'+ centre.centre_id"
                        class="btn btn-info shadow text-white">
                        <span uk-icon="icon: file-edit; ratio: 1"></span>
                      </nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "admin",

  data() {
    return {
      centres: []
    };
  },
  created() {
    this.allCen();
  },
  methods: {
    async allCen() {
      const center = await this.$axios.get("/centres");
      this.centres = center.data.data;
      console.log(this.centres);
    },

    /*   redirectUpdate(id) {
      this.$router.push({
        name: "/dashboard/admin/centres/update-centre",
        params: { id_centre: id }
      });
    }, */

      async showOne() {
      const response = await this.$axios.get(
        `/centres/${this.params.id_centre}`
      );
      this.centres=  centre.data.data
    },

    async delCen(id) {
      const del = await this.$axios.delete("centres/delete/"+id);
      if (del.data.statut == "success") {
        this.$swal.fire("",del.data.message,"success");
        this.allCen()
      }else{
        this.$swal.fire("",del.data.message,"error");
      }
    },

    
  }
};
//  const config = {
//                     headers: {
//                         "Authorization": "Bearer Mw.WSPdu37JjLvqVIHB3AB-JQ3rsH2J71C6D__C6YsEt0LcpSPcUwY43ZhKhhRa",
//                     },
//                 }
</script>

