

<template>
    <div class="container">
      <ul uk-tab>
          <li class="uk-activ"><a href="#" v-on:click="mon_compte">Mon compte</a></li>
          <li><a href="#" v-on:click="modifier_password">Changer de mot de passe</a></li>
      </ul>
      <div v-if="tab.moncompte">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow bg-white">
                        <div class="card-header d-flex justify-content-center">
                            <h1 class="card-title text-center fw-bold text-gray">Mon profil</h1>
                        </div>
                        <div class="card-body">
                                 <div class="card-img d-flex justify-content-center">
                         <img :src="'http://192.168.252.193:3333'+loggedInUser.url_photo" alt="" class="rounded-circle " width="100" />
                         </div>

                           <div class="alert alert-danger text-center" v-if="notification">
                                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
                            </div>
                             <form @submit.prevent="validateRegister">

                                <div class="row">
                                    <div class="form-group pt-2 col-md-12">
                                        <label class="form-label fw-bold" for="phone">Numéro de téléphone </label>
                                        <label class="form-control bg-white" for="name">{{loggedInUser.data.number}}<span class="text-danger fw-bold"></span></label>
                                    </div>
                                    <div class="form-group pt-2 col-md-12">
                                        <label class="form-label fw-bold" for="name">Nom de famille </label>
                                        <label class="form-control bg-white" for="name">{{loggedInUser.data.name}}<span class="text-danger fw-bold"></span></label>
                                        <!-- <input type="text" v-model="form.name" class="form-control bg-white" id="name" name="name" placeholder= loggedInUser.name> -->
                                    </div>
                                    <div class="form-group pt-2 col-md-12">
                                        <label class="form-label fw-bold" for="username">Prenom (s) </label>
                                       <label class="form-control bg-white" for="name">{{loggedInUser.data.surname}}<span class="text-danger fw-bold"></span></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

        <div class="row" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true" v-if="tab.modifier_password">
            <div class="d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="card bg-white" style="background: #184f69">
                        <div class="card-header d-flex justify-content-center">
                            <h1 class="card-title fw-bold" style="color: #184f69">Modification du mot de passe</h1>
                        </div>
                        <div class="card-body">
                           <div class="alert alert-danger text-center" v-if="notification">
                                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
                            </div>
                             <form @submit.prevent="editPassword">
                                <div class="row">
                                    <div class="d-flex justify-content-center">
                                      <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="ancien_password">Ancien mot de passe <span class="text-danger fw-bold">*</span></label>
                                        <input type="password" class="form-control bg-white" id="ancien_password" name="ancien_password" v-model="form.ancien_password">
                                    </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                      <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="mdp">Nouveau mot de passe <span class="text-danger fw-bold">*</span></label>
                                        <input type="password" v-model="form.password" class="form-control bg-white" id="mdp" name="password">
                                    </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                      <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="passwordConfirm">Confirmer le nouveau mot de passe <span class="text-danger fw-bold">*</span></label>
                                        <input type="password" v-model="form.passwordConfirm" class="form-control bg-white" id="passwordConfirm" name="passwordConfirm">
                                    </div>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-end pt-3">
                                        <button  class=" btn btn-primary fw-bold  shadow-lg  pt-1 text-white border-1 border-white "><span uk-icon="icon: arrow-right; ratio: 1"></span>Modifier</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  layout: "supervisor",
  data(){
        return {
            form:{
                name:null,
                username:null,
                phone: null,
                ancien_password:null,
                password: null,
                passwordConfirm: null,
            },
            notification:false,
            cardRegister : false,
            tab:{
              moncompte : true,
              modifier_password : false,
            }
        }
    },
      computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  },
    methods:{
        validateRegister(){
            if(this.form.name == null || this.form.username == null || this.form.phone == null || this.form.password == null || this.form.passwordConfirm == null){
                this.notification = true;
            }else{
                this.cardRegister = false;
                this.$router.push('/dashboard/admin/supervisors')
            }
        },
        async editPassword(){
            if(this.form.password == null || this.form.passwordConfirm == null){
                this.notification = true;
            }else{
              const data = {
                  ancien_password: this.form.ancien_password,
                  password: this.form.password,
                  password_confirmation: this.form.passwordConfirm,
              }
              console.log(data)
             const response = await this.$axios.put('/admin/update/password',data)
              if(response.data.status == 'success'){
                this.$swal.fire(
                    'Succès',
                    'Votre mot de passe a été modifié avec succès',
                    'success'
                )
                this.mon_compte();
              }else if(response.data.status == 'error'){
                console.log(response.data);
                this.$swal.fire({
                  title: 'Oups!',
                  text: response.data.message,
                  icon: 'error',
                  confirmButtonText: 'Je reprends',
                })
              }else{
                this.$swal.fire({
                  title: 'Oups!',
                  text: response.data,
                  icon: 'error',
                  confirmButtonText: 'Je reprends',
                })
              }
            }
        },

        mon_compte(){
            this.tab.moncompte = true;
            this.tab.modifier_password = false;
        },

        modifier_password(){
            this.tab.modifier_password = true;
            this.tab.moncompte = false;
        }

    }
};
</script>
