<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-10">
                    <div class="card">
                        <div class="card-header text-center">
                           <h3 class="card-title text-primary fw-bold"> Liste des conducteurs</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenoms</th>
                                    <th scope="col">Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <img src="" alt="image" class="">
                                        </td>
                                        <td>Silue</td>
                                        <td>Romaric</td>
                                        <td>0765897654</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <img src="" alt="image" class="">
                                        </td>
                                        <td>Soro</td>
                                        <td>David</td>
                                        <td>0765897654</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </div>
</template>


<script>
export default {
}
</script>
