<template>
  <div class="container">
     <div class="dashoar">
       <div class="row">
         <!-- <div class="col-md-3 pt-3">
           <div class="card h-100 uk-animation-fade" style="background: #2f9c9e">
             <nuxt-link to="/dashboard/supervisor/conducteurs" title="cliquez pour voir la liste des conducteurs inscrits" class="pointer text-white text-decoration-none">
              <div class="card-header">
                <h1 class="card-title fw-bold text-white">Conducteurs inscrits</h1>
              </div>
              <div class="card-body d-flex justify-content-end">
                <span class="icon">
                  <ion-icon name="help-buoy-outline"></ion-icon>
                </span>
                <span class="nbr pl-1 fw-bold">100</span>
              </div>
             </nuxt-link>
           </div>
         </div> -->
         <div class="col-md-3 pt-3">
           <div class="card h-100 uk-animation-fade" style="background: #196b82">
            <nuxt-link to="/dashboard/supervisor/plages" title="cliquez pour voir la liste des rendez-vous" class="pointer text-white text-decoration-none">
              <div class="card-body d-flex justify-content-center">
                <span class="icon">
                  <span uk-icon="icon: calendar; ratio: 1"></span>
                </span>
              </div>
              <div class="card-header">
                <h1 class="uk-text-default uk-margin-remove fw-bold text-white centre">Plages d'horaire</h1>
              </div>
            </nuxt-link>
           </div>
         </div>
         <div class="col-md-3 pt-3">
           <div class="card h-100 uk-animation-fade" style="background: #175c4c">
            <nuxt-link to="/dashboard/supervisor/listTestValide" title="cliquez pour voir la liste des conducteurs ayant validé le test" class="pointer text-white text-decoration-none">
              <div class="card-header">
                <div class="card-body d-flex justify-content-center">
                  <span class="icon">
                    <ion-icon name="aperture"></ion-icon>
                  </span>
                </div>
                <h1 class="uk-text-default uk-margin-remove fw-bold text-white centre">Conducteurs (quizz validé)</h1>
              </div>
            </nuxt-link>
           </div>
         </div>
          <div class="col-md-3 pt-3">
            <div class="card h-100 uk-animation-fade" style="background: #f6b1a2 ">
              <nuxt-link to="/dashboard/supervisor/listRdv" title="cliquez pour voir la liste des conducteurs ayant validé le test" class="pointer text-white text-decoration-none">
                <div class="card-header">
                  <div class="card-body d-flex justify-content-center">
                    <span class="icon">
                      <span uk-icon="icon: list; ratio: 1"></span>
                    </span>
                  </div>
                  <h1 class="uk-text-default uk-margin-remove fw-bold text-white centre">Rendez-vous</h1>
                </div>
              </nuxt-link>
            </div>
          </div>
          <div class="col-md-3 pt-3">
            <div class="card h-100 uk-animation-fade" style="background: #4bb7fd ">
              <nuxt-link to="/dashboard/supervisor/changePassword" title="cliquez pour voir la liste des conducteurs ayant validé le test" class="pointer text-white text-decoration-none">
                <div class="card-header">
                  <div class="card-body d-flex justify-content-center">
                    <span class="icon">
                      <span uk-icon="icon: user; ratio: 1"></span>
                    </span>
                  </div>
                  <h1 class="uk-text-default uk-margin-remove fw-bold text-white centre">Mon profil</h1>
                </div>
              </nuxt-link>
            </div>
          </div>
       </div>
     </div>
  </div>
</template>
<style>
.centre{
  text-align: center !important;
}
  .card {
    border: 2px solid white;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .card .card-body {
    font-size: 20px;
  }
</style>
<script>
export default {
  layout: "supervisor",
};
</script>
