<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-12">
               
                    <div class="card bg-white shadow">
                       
                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Liste des RDV</h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col"> Date (de prise de rdv) </th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Motif</th>
                                    <th scope="col"> Code du rdv </th>
                                    <th scope="col"> Date de passage</th>
                                    <th scope="col"> Intervalle horaire </th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(rdv,n) in rdvOfCentre" :key="rdv.id_rdv">
                                        <th >{{n+1}}</th>
                                        <td>{{format_date(rdv.date_prise_rdv)}}</td>
                                        <td>  {{rdv.user_name}} </td>
                                        <td>  {{rdv.user_surname}} </td>
                                        <td>  {{rdv.user_number}} </td>
                                        <td>  {{rdv.type_motif}} </td>
                                        <td>  {{rdv.code_rdv}} </td>
                                        <td>  {{format_date(rdv.date_passage)}} </td>
                                        <td>  {{rdv.heure_debut_passage}} - {{rdv.heure_fin_passage}} </td>
                                         <td>
                                            <a href="" class="btn btn-danger shadow text-white">
                                                <span uk-icon="icon: trash; ratio: 1"></span> 
                                            </a>
                                        </td>
                                    </tr>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
               </div>
           </div>
       </div>
    </div>
</template>
<script>
import moment from 'moment'
export default {
  layout: "supervisor",

    data() {
    return {
     
      rdvOfCentre: [],
    };
  } , 

  created() {this.getRdvOfCentre()},

  methods: {

       format_date(value){
         if (value) {
           return moment(String(value)).format('YYYY/MM/DD')
          }
        },
      async getRdvOfCentre() {

      const response = await this.$axios.get('/get-rdv-of-centre/'+this.$auth.user.data.centre_id)
        this.rdvOfCentre = response.data.data
      }
  }
};
</script>