<template>
  <div class="row g-3 align-items-center">
    <div class="d-flex justify-content-center mt-5 pt-5">
      <form @submit.prevent="validateRdv">
        <label for="code" class="col-form-label">Code de verification de RDV</label>
        <div class="col-md-12">
          <input
            type="text" required
            class="form-control"
            id="code"
            name="code_verif"
            v-model="form.code_verif"
          />

          <div class="d-flex justify-content-end pt-3">
            <button class="btn btn-primary fw-bold shadow pt-2">Verifier</button>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center mt-5 pt-5" v-if="cardVerification">
      <div class="card-body">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenoms</th>
              <th scope="col">Photo</th>
              <th scope="col">Date de passage</th>
              <th scope="col">Type de conduite</th>
              <th scope="col">Date de prise de RDV</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" v-for="(prise_rdv) in prise_rdvs" :key="prise_rdv.id">
              <td>{{prise_rdv.name_user}}</td>
              <td>{{prise_rdv.surname_user}}</td>
              <td>
                <img
                  :src="' http://192.168.252.193:3333'+prise_rdv.url_photo"
                  class="img-fluid"
                  style="width:30px ; height:30px"
                />
              </td>
              <td>{{format_date(prise_rdv.date_passage) }}</td>
              <td>{{prise_rdv.type_conduite}}</td>
              <td>{{format_date(prise_rdv.date_de_prise_rdv)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  layout: "supervisor",

  data() {
    return {
      prise_rdvs: [],
      form: {
        code_verif: null
      },
      notification: false,
      cardVerification: false
    };
  },

  methods: {

       format_date(value){
         if (value) {
           return moment(String(value)).format('YYYY/MM/DD')
          }
        },

    validateRdv() {
      if (this.form.code_verif == null) {
        notification = true;
      } else {
        this.notification = false;

        this.verificationCode();
      }
    },

    async verificationCode() {
      const response = await this.$axios.get(
        "rdv-checking/" + this.form.code_verif
      );
      this.prise_rdvs = response.data.data;
      console.log(response);
      if (response.data.status == "success") {
        this.cardVerification = true;
      } else {
        this.$swal.fire("", response.data.message, "error");
      }
    }
  }
};
</script>
