<template>
  <div
    uk-height-viewport="offset-top: true; offset-bottom: true"
    class="
      uk-section uk-section-small uk-flex uk-flex-middle
      bg-accueil
      home-texture
    "
  >
    <div class="container p-1">
      <div class="row m-0 justify-content-center">
        <div
          class="
            col-md-4
            d-flex
            flex-column
            bg-light
            p-1
            align-items-center
            uk-padding
          "
        >
          <div class="card-img uk-padding-medium">
            <img src="@/assets/admin.jpeg" alt="" />
          </div>

          <div class="form-card">
            <form @submit.prevent="validatelogin">
              <fieldset class="uk-fieldset">
                <div class="my-3">
                  <p class="uk-text-muted text-xs text-center">
                    Hey ! Veuillez entrer vos identifiants afin d'acceder à
                    votre Espace.
                  </p>
                  <div class="my-3" v-if="this.notification">
                    <p class="text-danger text-xs text-center">
                      Veuillez remplir tous les champs
                    </p>
                  </div>
                </div>
                <div>
                  <input
                    class="uk-input"
                    type="email"
                    name="mail"
                    v-model="form.mail"
                    placeholder="Votre mail"
                  />
                </div>
                <div class="uk-margin-small">
                  <input
                    class="uk-input"
                    type="password"
                    name="password"
                    v-model="form.password"
                    placeholder="Mot de passe"
                  />
                </div>
              </fieldset>

              <div class="uk-margin uk-flex uk-flex-center" >
                <!-- <nuxt-link class="uk-button uk-button-drive-white uk-width-1-1" to="/">Se connecter </nuxt-link> -->
                <button class="uk-button uk-button-drive-white uk-width-1-1">
                  Se connecter
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.card-img {
  width: 150px;
  height: 150px;
  position: relative;
}

.card-img img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.text-title {
  padding: 0.2em;
  color: gray;
}

.form-card {
  position: relative;
  width: 100%;
  padding: 0.3em;
}

.card-input {
  padding: 0.2em;
  position: relative;
}

.card-input input {
  width: 100%;
  padding: 0.7em;
  height: 40px;
  outline: none;
  border: 1px solid aliceblue;
}

.card-btn {
  position: relative;
  width: 100%;
  padding: 0.4em;
  text-align: center;

}

.btn-login {
  border: none;
  background-color: rgba(0, 211, 200,0.7);
  border-radius: 3px;
  color: black;
  padding: 0.4em;
}

.reset-card {
  width: 100%;
  text-align: right;
  color: red;
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}
</style>
<script>
export default {
  data() {
    return {
      form: {
        mail: null,
        password: null,
      },
      onload: false,
      notification: false,
    };
  },
  created() {
   if(this.$auth.user){
      if(this.$auth.user.admin){
      this.$router.push('/dashboard/admin');
    }
   }
  },
  methods: {
   async validatelogin() {
      if (this.form.password == null || this.form.mail == null) {
        this.notification = true;
      } else {
        await this.verificationLogin();
      }
    },
    async verificationLogin() {

      try {
       const response = await this.$auth.loginWith("admin", {
          data: {
            email: this.form.mail,
            password: this.form.password,
          },
        });
        console.log(response.data.data.token)
        this.$router.push("/dashboard/admin")

      } catch (e)
      {
        this.$swal.fire(e.response.data.message)
        this.error = e.response.data;
      }
    },
  },
};
</script>
