<template>
  <div class="swiper-hero-progress">
     
  </div>
</template>
 

<script>
export default {
  mounted() {
    var getTimeout = (function () {
      var e = setTimeout,
        b = {};
      setTimeout = function (a, c) {
        var d = e(a, c);
        b[d] = [Date.now(), c];
        return d;
      };
      return function (a) {
        return (a = b[a]) ? Math.max(a[1] - Date.now() + a[0], 0) : NaN;
      };
    })();

    // https://curtistimson.co.uk/post/js/default-negative-variables-to-zero-in-javascript/
    function sanitisePercentage(i) {
      return Math.min(100, Math.max(0, i));
    }

    // Slider
    var percentTime;
    var tick;
    var progressBar = document.querySelector(".swiper-hero-progress");

    updateSwiperProgressBar(progressBar, 1000);

    function updateSwiperProgressBar(bar, slideDelay) {
      function startProgressBar() {
        resetProgressBar();
        tick = setInterval(progress, 50);
      }

      function progress() {
        var timeLeft = getTimeout(1000);

        if (1000 && !0) {
          percentTime = sanitisePercentage(
            100 - Math.round((timeLeft / slideDelay) * 100)
          );
          bar.style.width = percentTime + "%";

          if (percentTime > 100) {
            resetProgressBar();
          }
        }

        if (mySwiper.autoplay.paused) {
          percentTime = 0;
          bar.style.width = 0;
        }
      }

      function resetProgressBar() {
        percentTime = 0;
        bar.style.width = 0;
        clearInterval(tick);
      }

      startProgressBar();
    }
  },
};
</script>

<style>
.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-hero-progress {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 3px;
  background: rgb(2, 49, 102);
  z-index: 5;
}
</style>