<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-10">
          <div class="btn">
            <nuxt-link
              to="/dashboard/supervisor/plages"
              class="btn btn-primary shadow fw-bold float-start"
              ><ion-icon name="arrow-back-outline"></ion-icon> Liste des plages d'horaire
              </nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color: #184f69">
                Creation de plage Horaire
              </h1>
            </div>
            <div class="card-body">
              <div style="margin: 0 250px" class="alert alert-danger text-center" v-if="notification">
                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
                  <meta http-equiv="refresh" content="2" />
              </div>
              <div style="margin: 0 250px" class="alert alert-success text-center" v-if="success">
                <span class="fw-bold text-white">Succès plage horaire crée !</span>
                <meta http-equiv="refresh" content="3" />
              </div>
              <form @submit.prevent="validateRegister">
                <div class="row">
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="date"
                      >Date <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      type="date"
                      v-model="form.date"
                      
                      class="form-control bg-white"
                      id="date"
                      name="date"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="date"
                      >Type de Conduite
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <select
                      class="form-control bg-white"
                      name="id_type"
                      v-model="form.id_type"
                      id="type"
                    >
                      <option
                        class="selected"
                        v-for="type in types "
                        :key="type.id"
                        :value="type.id"
                      >{{type.libelle}}</option>
                    </select>
                  </div>
                  <div class="form-group pt-2 col-md-4">
                    <label class="form-label fw-bold" for="heureD">
                      Heure debut
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      type="time"
                      class="form-control bg-white"
                      id="heureD"
                      name="heure_debut"
                      v-model="form.heure_debut"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-4">
                    <label class="form-label fw-bold" for="heure_fin"
                      >Heure fin
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      type="time"
                      class="form-control bg-white"
                      id="heure_fin"
                      name="heure_fin"
                      v-model="form.heure_fin"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-4">
                    <label class="form-label fw-bold" for="nb_place"
                      >Nombre de place
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control bg-white"
                      id="nb_place"
                      name="nb_place"
                      v-model="form.nb_place"
                    />
                  </div>
                  <div class="col-md-12 d-flex justify-content-end pt-3">
                    <button
                      class="
                        btn btn-primary
                        fw-bold
                        shadow-lg
                        pt-1
                        text-white
                        border-1 border-white
                      "
                    >
                      <span uk-icon="icon: arrow-right; ratio: 1"></span>
                      Modifier
                    </button>
                    <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
 -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "supervisor",

  data() {
    return {
      form: {
        date: null,
        id_type: null,
        heure_debut: null,
        heure_fin: null,
        nb_place: null,
      },
      plage: {},
      types: [],
      notification: false,
      cardRegister: false,
    };
  },
  created() {
    this.getPlage();
    this.getType();
    },
  methods: {

    async getPlage() {

      const response = await this.$axios.get(`/centre/plage-horaire/${this.$route.params.id}`)
        const plage = response.data.data
        this.form.date = (plage.date).toString().slice(0,10)
        this.form.id_type = plage.id_type
        this.form.heure_debut = plage.heure_debut
        this.form.heure_fin = plage.heure_fin
        this.form.nb_place = plage.nb_place
        console.log(this.plage)
      } ,
      
      async getType() {

      const response = await this.$axios.get('/conduite/types')
        this.types = response.data.content
      } , 

    async validateRegister() {
      if (
        this.form.date == null ||
        this.form.id_type == null ||
        this.form.heure_debut == null ||
        this.form.heure_fin == null ||
        this.form.nb_place == null
      ) {
        this.notification = true;
      } else {
        this.cardRegister = false;
       
        const response = await this.$axios.put("/horaire/update/"+this.$route.params.id, {
          date: this.form.date,
          id_type: this.form.id_type,
          heure_debut: this.form.heure_debut,
          heure_fin: this.form.heure_fin,
          nb_place: this.form.nb_place,
          statut: true,
        });
        
        this.$router.push('/dashboard/supervisor/plages')
        this.$swal.fire("", "Plage d'horaire modifié avec succès", "success");
      }
    },
  },
};
</script>