<template>
    <div class="container">
        <div class="plages">
            <div class="row">
                <div class="d-flex justify-content-center mt-5 pt-5">
                    <div class="col-md-12">
                        <div class="btn">
                            <nuxt-link to="/dashboard/supervisor/plageHoraire" class="btn btn-info shadow fw-bold float-start">
                                <ion-icon name="arrow-back-outline"></ion-icon> Ajouter une plage d'horaire
                            </nuxt-link>
                        </div>
                        <div class="card bg-white mt-3">
                            <div class="card-header bg-white">
                               <h1 class="fw-bold text-center text-info"> Plages d'horaire</h1>
                            </div>
                            <div class="card-body bg-white">
                                <div class="table">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type de Conduite</th>
                                                <th>Heure début</th>
                                                <th>Heure fin</th>
                                                <th>Nombre de place</th>
                                                <th> Status de la plage</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr v-for="plage in plages" :key="plage.id">
                                                <td>{{ format_date(plage.date) }}</td>
                                                <td>{{ plage.types_conduites_name }}</td>
                                                <td>{{ plage.heure_fin }}</td>
                                                <td>{{ plage.heure_fin }}</td>
                                                <td>{{ plage.nb_place }}</td>
                                                <td>{{ plage.statut ? 'Cet plage est actif' : 'Cet plage est inactif' }}</td>
                                                <td>
                                                    <nuxt-link class="btn btn-info shadow-lg" :to="'plages/'+plage.id"><span uk-icon="file-edit"></span></nuxt-link>
                                                    <button class="btn btn-danger shadow-lg fw-bold" v-on:click="deletePlage(plage.id)">
                                                        <span uk-icon="trash"></span> 
                                                        </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";
    export default {
    layout: "supervisor",

        data(){
            return {
                plages: [],
            };
        },

        created(){
            this.showPlage()
        },


        methods:{

            async showPlage() {
               
                // const plage = await this.$axios.get("/horaires/"+this.$auth.user.data.centre_id)
                // this.plages = plage.data

                  const response = await this.$axios.get('/horaires/'+this.$auth.user.data.centre_id)
        const plageOfCentre = response.data.data
        const date =  this.format_date( new Date())
        
       // console.log("la date"+ date)
       // console.log("la plage date "+this.format_date(plageOfCentre[1].date) )

         for (var i=0 ; i< plageOfCentre.length ; i++){
            const plageDate = this.format_date(plageOfCentre[i].date)
             if( plageDate >= date ){
                // console.log("il est rentre das le if")
                 this.plages.push(plageOfCentre[i])
             }
        } 
            },

            format_date(value){
                if (value){
                    return moment(String(value)).format('YYYY/MM/DD')
                }
            },


            async deletePlage(id) {
            
                const res = await this.$axios.delete("/horaire/"+id)
                this.plages = []
                this.showPlage()
                if(res.data.status == 'error'){
                    this.$swal.fire(res.data.message)
                }

            }



        }

    }
</script>
