<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5" v-if="cardPhone">
        <div class="col-md-6">
          <div class="card shadow-sm border-2">
            <div class="card-header text-center bg-white">
              <h4 class="card-title fw-bold text-primary">
                Vérification de votre numéro de téléphone
              </h4>
            </div>
            <div class="card-body">
              <form @submit.prevent="validatePhone" >
                <!-- {{form.phone != null? form.phone.length : 0}} -->
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="phone"
                    >Numéro de téléphone
                    <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    v-model="form.phone"
                    placeholder="Veuillez saisir votre numéo de téléphone"
                  />
                  <span v-if="notification" class=""
                    >Veuillez renseigner ce champ svp !</span
                  >
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button class="btn btn-primary fw-bold shadow pt-2">
                    Valider
                  </button>
                  <small class="pt-3 px-4">
                    <nuxt-link
                      class="fw-bold text-decoration-none text-muted"
                      to="/auth"
                      >Se connecter</nuxt-link
                    >
                  </small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5 pt-5" v-if="cardOTP">
        <div class="col-md-6">
          <div class="card shadow-sm border-2">
            <div class="card-header text-center bg-white">
              <h4 class="card-title fw-bold text-primary">
                Code de vérification
              </h4>
            </div>
            <div class="card-body">
              <form @submit.prevent="validateOtp">
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="code"
                    >Code réçu par sms
                    <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="code"
                    name="opt"
                    v-model="form.otp"
                    placeholder="Veuillez saisir le code reçu par message"
                  />
                  <span
                    v-if="notification"
                    class="text-danger fw-bold text-danger"
                    >Veuillez renseigner ce champ svp !</span
                  >
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button class="btn btn-primary fw-bold shadow pt-2">
                    Verifier
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5 pt-5" v-if="cardRegister">
        <div class="col-md-6">
          <div class="card shadow-sm border-2">
            <div class="card-header text-center bg-white">
              <h4 class="card-title fw-bold text-primary">
                Formulaire d'inscription
              </h4>
            </div>
            <div class="card-body">
              <div class="" v-if="notification">
                <span class="fw-bold text-danger"
                  >Veuillez renseigner tous les champ svp !</span
                >
              </div>

              <form @submit.prevent="validateRegister" enctype="multipart/form-data">
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="name"
                    >Nom de famille
                    <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="form.name"
                    name="name"
                    placeholder="Veuillez saisir votre nom"
                  />
                </div>
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="username"
                    >Prenom (s)
                    <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    v-model="form.username"
                    placeholder="Veuillez saisir votre ou vos prenoms"
                  />
                </div>
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="photo"
                    >Photo <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="photo"
                    name="photo"
                    @change="validateImage"
                    accept="image/*"
                    ref="userImage"
                  />
                </div>
                <span class="error-feedback" v-if="imageErr"> {{imageMsg}}</span>
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="mdp"
                    >Mot de passe
                    <span class="text-danger fw-bold">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="mdp"
                    name="password"
                    v-model="form.password"
                    placeholder="Veuillez saisir un mot de passe"
                  />
                </div>
                 <div class="" v-if="password_conforme">
                 <span class="text-danger"
                  >{{message}} </span
                >


              </div>
                <div class="form-group pt-2">
                  <label class="form-label fw-bold" for="passwordConfirm"
                    >Confirmer le mot de passe
                    <span class="text-danger fw-bold">*</span></label
                  >

                  <input
                    type="password"
                    class="form-control"
                    id="passwordConfirm"
                    name="passwordConfirm"
                    v-model="form.passwordConfirm"
                    placeholder="Veuillez saisir le mot de passe à nouveau"
                  />
                </div>
                <div class="col-md-12 d-flex justify-content-end pt-3">
                  <button class="btn btn-primary fw-bold shadow pt-2">
                    S'inscrire
                  </button>
                  <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
 -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        phone: null,
        otp: null,
        name : null,
        username : null,
        password : null ,
        passwordConfirm : null,
        token :null,
        image_user : null ,

      },
      message : "",
      errors : [],
      notification: false,
      cardPhone: true,
      cardOTP: false,
      cardRegister: false,
      imageErr: true,
      imageMsg :"ajouter une image",
      isImageValided : false,
      password_conforme : false,

    };
  },
  methods: {
    validatePhone() {
      if (this.form.phone == null) {
        this.notification = true;
      } else {
        this.notification = false;
        this.verificationTel();
      }
    },
    validateOtp() {
      if (this.form.otp == null) {
        this.notification = true;
      } else {
        this.verificationOtp()
      }
    },

    validateImage(e){

      console.log(e.target.value)
      console.log(this.$refs.userImage.files[0]);
      this.image_user = e.target.files[0];

    },

    validateRegister() {
      if (
        this.form.name == null ||
        this.form.username == null ||
        !this.$refs.userImage.files[0] ||
        this.form.password == null ||
        this.form.passwordConfirm== null) {

        this.notification = true;
      }
      else if(this.form.password != this.form.passwordConfirm){
          this.password_conforme = true
           this.message = "password et confirmPassword sont different"
      }
      else if(this.form.password.length < 8){
        this.password_conforme = true
         this.message = 'Votre password doit contenir au moins 8 caractères'
      }

      else {
         this.notification = false;
        console.log(this.$refs.userImage.files[0])
        this.saveUser()

      }
    },
    async verificationTel() {
      const response = await this.$axios.post("/auth/send-otp", {
        phone: this.form.phone,
      });
      const result = response.data;

      if (response.data.status == "success") {
        this.cardPhone = false;
        this.cardOTP = true;
        this.$swal.fire(result.message)


        console.log(result.message);
      } else {
         this.$swal.fire(result.message)
      }
    },

    async verificationOtp() {
      const response = await this.$axios.post("/auth/verify-otp", {
        phone: this.form.phone,
        code: this.form.otp,
      });
      const result = response.data;
      if (result.status == "success"){
        this.form.token = result.register_token
         this.cardOTP = false;
        this.cardRegister = true;



      }
      else {
          this.$swal.fire(result.message)
         }
    },
    async saveUser(){


        let config = {
          headers:{

              'X-token' : this.form.token
          }
        }
     console.log("image : "+ this.image_user + "name " + this.image_user.name)
        const formData = new FormData() ;
        formData.append('name', this.form.name)
        formData.append('surname' , this.form.username)
        formData.append('url_photo' , this.image_user)
        formData.append('password' , this.form.password)
        try {
            const response = await this.$axios.post("/auth/register",formData, config);
            const result = response.data;

              if (result.status == "success"){
                this.cardRegister = false;
                this.$router.push("/auth");
                this.$swal.fire(
                              '',
                              'Enregistrement effectué avec succès!',
                              'success'
                            )



            }
        } catch (error) {
            this.$swal.fire(error.response.data)
        }





      }


  },
};
</script>
