  .bg-accueil{
    background: #01d4c9;
  }
  .uk-button-drive-white{
    background:transparent;
    color: #0d3230;
    border: #0d3230 2px solid;
  }

  .uk-button-drive-white-home{
    background:transparent;
    color: #ffffff;
    border: #ffffff 2px solid;
  }

  .uk-button-drive-white:hover{
    background: #0d3230;
    color: #ffffff;
    border: #0d3230 2px solid;
  }

  .uk-button-drive-white-dark{
    background: #0d3230;
    color: #ffffff;
    border: #0d3230 2px solid;
  }

  .uk-button-drive-white-dark:hover{
    background:transparent;
    color: #0d3230;
    border: #0d3230 2px solid;
  }
  .home-texture {
  background: url(@/assets/bg.svg) 50% 17vh no-repeat,linear-gradient(to left top,#01d4c9,#01d4c9) 0 0 no-repeat;
  }

  .uk-input, .uk-input:focus, .uk-select, .uk-select:focus, .uk-textarea, .vdatetime-input {
    font-family: 'poppins' !important;
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #ecebeb;
    color: #666;
    border:none;
    transition: 0.2s ease-in-out;
    transition-property: all;
    transition-property: color, background-color, border;
    border-radius: 0px;
  }
/* .card-img{
    width: 150px;
    height: 150px;
    position: relative;
  }

  .card-img img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .text-title{
    padding:.2em;
    color: gray;
  }

  .form-card{
    position: relative;
    width: 100%;
    padding: .3em;
  }

  .card-input{
    padding: .2em;
    position: relative;
  }

  .card-input input{
    width: 100%;
    padding: .5em;
    height: 40px;
    outline: none;
    border: 1px solid aliceblue;
    border-radius: 3px;
  }

  .card-btn{
    position: relative;
    width: 100%;
    padding: .4em;
    text-align: center;
  }

  .btn-login{
    border: none;
    background-color: orange;
    border-radius: 3px;
    color: black;
    padding: .4em;
  }

  .reset-card{
    width: 100%;
    text-align: right;
    color: red;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
  } */
