<template>
    <div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
<admin-navbar/>
<admin-sidebar/>
  <div class="content-wrapper bg-white">
    <div class="content-header">
      <div class="container-fluid">
        <h1 class="m-0 my-3 fw-bold bord">
          <nuxt-link class="text-decoration-none" to="/dashboard/admin/" style="color: #184f69">
            Tableau de bord
          </nuxt-link>
        </h1>
      </div>
    </div>

    <section class="content">
      <Nuxt/>
    </section>
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>

  <footer class="main-footer shadow-lg bg-white">
    <strong>Copyright &copy; 2022 Orange -DrivEudc.</strong>
    <!-- All rights reserved. -->
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.1.0
    </div>
  </footer>
</div>

</div>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

  html{
    font-family: 'Poppins', sans-serif;
  }
   .main-footer  {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
</style>
<script>
export default {
  middleware :['auth-admin'/* , 'auth' */],
  //auth: true,

};
</script>
