<template>
    <div class="hold-transition layout-fixed layout-navbar-fixed layout-footer-fixed">
<div>
<conducteur-navbar/>

<!-- <conducteur-sidebar/> -->
  <div class="bg">
    <div class="content-header">
      <div class="container-fluid">
        <h1 class="m-0 my-3 fw-bold bord">
          <nuxt-link class="text-decoration-none" to="" style="color: #184f69">

          </nuxt-link>
        </h1>
      </div>
    </div>

    <section class="content mt-5">
      <Nuxt/>
    </section>
  </div>

  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
  <div class="uk-position uk-position-bottom uk-position-z-index uk-position-fixed">
    <footer class="py-3 shadow mt-4 bg-dark">
      <strong>Copyright &copy; 2022 Orange -DrivEduc.</strong>
      <!-- All rights reserved. -->
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.1.0
      </div>
    </footer>
  </div>
</div>

</div>
</template>
<style>
.bg-accueil{
    background: #01d4c9 !important;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

  /* .content-wrapper .content-header .container-fluid .border {
    text-shadow: 5px 5px 10px red;
  } */
  html,.bg{
    background: #f3f9ff !important;
    font-family: 'Poppins', sans-serif !important;
  }
</style>
<script>
export default {
  middleware : 'auth',
  auth: true,

};
</script>
