<template>
     <aside class="main-sidebar elevation-2" style="background: #184f69">
          <!-- Brand Logo -->
      <nuxt-link to="/dashboard/admin/" href="index3.html" class="brand-link navbar-white">
        <img src="@/assets/logo.svg" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
        <!-- <span class="brand-text fw-bold text-black pl-3"><b>DrivEduc</b></span> -->
      </nuxt-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <nuxt-link to="/dashboard/admin/profile" class="user-panel pb-3 mb-3 d-flex">
        <div class="image">
          <img src="@/assets/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/dashboard/admin/profile/" class="d-block text-dark uk-link-reset fw-bold">{{loggedInUser.data.name }} {{loggedInUser.data.surname }}</a>
        </div>
      </nuxt-link>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <div class="">
            <ul uk-accordion>
                <li>
                  <a class="uk-accordion-title text-white" href="#">
                    <ion-icon name="settings"></ion-icon>
                    <small class="fw-bold">Mes paramètres</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/dashboard/admin/profile" class="nav-link">
                      <span uk-icon="icon: user; ratio: 1"></span>
                      <p>Profile</p>
                    </nuxt-link>
                    <a href="#" class="nav-link">
                      <span uk-icon="icon: sign-out; ratio: 1"></span>
                      <p>Se deconnecter</p>
                    </a>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title text-white fw-bold" href="#">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <small class="fw-bold">Utilisateurs</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/dashboard/admin/supervisors" class="nav-link">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <p>Superviseurs</p>
                    </nuxt-link>
                    <nuxt-link  to="/dashboard/admin/drivers" class="nav-link">
                     <ion-icon name="speedometer-outline"></ion-icon>
                      <p>Conducteurs</p>
                    </nuxt-link>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title text-white fw-bold" href="#">
                   <ion-icon name="school-outline"></ion-icon>
                    <small class="fw-bold">Centres</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/dashboard/admin/centres" class="nav-link">
                      <ion-icon name="create-outline"></ion-icon>
                      <p>Gestion centres</p>
                    </nuxt-link>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title text-white fw-bold" href="#">
                   <ion-icon name="aperture-outline"></ion-icon>
                    <small class="fw-bold">Assets</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/dashboard/admin/assets" class="nav-link">
                      <ion-icon name="folder-open-outline"></ion-icon>
                      <p>Gestion des assets</p>
                    </nuxt-link>
                  </div>
                </li>
            </ul>
          </div>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>
<style>
   .main-sidebar {
    border-right: 2px solid white;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  }
}
</script>

