<template>
  <div
    uk-height-viewport="offset-top: true; offset-bottom: true"
    class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center bg-accueil home-texture"
   >

   <div  class="uk-width-1-1">
      <div class="uk-flex uk-flex-center">
        <img src="@/assets/logo.svg" alt="" srcset="">
      </div>
      <div >
         <conducteur-textanimation/>
      </div>
      <div class="uk-flex uk-flex-center">
          <nuxt-link class="uk-button uk-button-drive-white-home" to="/auth">Accéder <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
      </div>
   </div>


  </div>
</template>
<style>

</style>

<script>
import conducteurs from './dashboard/admin/drivers.vue'
export default {

  components: { conducteurs },
  name: 'IndexPage',
  created() {
    if(this.$auth.user){

      if(this.$auth.user.conducteur){
      this.$router.push('/driver');
      }else if(this.$auth.user.admin){
        this.$router.push('/dashboard/admin');
      }else if(this.$auth.user.superviseur){
        this.$router.push('/dashboard/supervisor');
      }

    }
  },
  //layout : 'admin'
}
</script>
