<template>
  <div class="body-content d-flex justify-content-center align-items-center">

    <div class="container p-0 m-0">
      
    </div>
  </div>
</template>
<style>

  .body-content{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
  }
</style>
<script lang="ts">

</script>
