<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-10">
          <div class="btn">
            <nuxt-link
              to="/dashboard/admin/supervisors"
              class="btn btn-primary shadow fw-bold float-start"
            >
              <ion-icon name="arrow-back-outline"></ion-icon>Liste des superviseurs
            </nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1
                class="card-title fw-bold"
                style="color:#184f69"
              >création de compte d'un superviseur</h1>
            </div>
            <div class="card-body">
              <div class="alert alert-danger text-center" v-if="notification">
                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
              </div>
              <form @submit.prevent="validateRegister">
                <div class="row">
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="phone">
                      Numéro de téléphone
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="text"
                      v-model="form.phone"
                      class="form-control bg-white"
                      id="phone"
                      name="phone"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-3">
                    <label class="form-label fw-bold" for="name">
                      Nom de famille
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="text"
                      class="form-control bg-white"
                      id="name"
                      name="name"
                      v-model="form.name"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-3">
                    <label class="form-label fw-bold" for="surname">
                      Prenom (s)
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="text"
                      class="form-control bg-white"
                      id="surname"
                      name="surname"
                      v-model="form.surname"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="email">
                      Email
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="email"
                      class="form-control bg-white"
                      id="email"
                      name="email"
                      v-model="form.email"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="centre">
                      Centre
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <select v-model="form.centre_id" class="form-control bg-white">
                      <option
                        class="selected"
                        v-for="centre in centres "
                        :key="centre.id"
                        :value="centre.id"
                      >{{centre.name}}</option>
                    </select>
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="mdp">
                      Mot de passe
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="password"
                      class="form-control bg-white"
                      id="mdp"
                      name="password"
                      v-model="form.password"
                    />
                  </div>

                  <div class="col-md-12 d-flex justify-content-end pt-3">
                    <button
                      class="btn btn-primary fw-bold shadow-lg pt-1 text-white border-1 border-white"
                    >
                      <span uk-icon="icon: arrow-right; ratio: 1"></span> Créer
                    </button>
                    <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
                    -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  layout: "admin",
  components: {
    vSelect
  },

  data() {
    return {
      form: {
        name: null,
        surname: null,
        phone: null,
        email: null,
        centre_id: null,
        password: null
      },
      centres: [],
      notification: false,
      cardRegister: false
    };
  },
  created() {
    this.getCentres();
  },
  methods: {
     async getCentres() {

      const response = await this.$axios.get('/centres/no-superviseur')
        this.centres = response.data.data
      },
    async validateRegister() {
      if (
        this.form.name == null ||
        this.form.surname == null || 
        this.form.phone == null ||
        this.form.email == null ||
        this.form.centre_id == null ||
        this.form.password == null
      ) {
        this.notification = true;
      } else {
        this.cardRegister = false;
         const response = await this.$axios.post("/admin/create/superviseur/", {
          name: this.form.name,
          surname: this.form.surname,
          phone: this.form.phone,
          email: this.form.email,
          centre_id: this.form.centre_id,
          password: this.form.password
        });
        const result = response.data;
        if (result.status == "success") {
          this.cardRegister = false;
          this.$router.push("/dashboard/admin/supervisors");
          this.$swal.fire(
            "",
            "Enregistrement effectué avec succès!",
            "success"
          );
        }
      }
    }
  }
};
</script>