<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-10">
          <div class="btn">
            <nuxt-link
              to="/dashboard/admin/centres"
              class="btn btn-primary shadow fw-bold float-start"
            >
              <ion-icon name="arrow-back-outline"></ion-icon>Liste des centres
            </nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color:#184f69">Ajout d'un centre</h1>
            </div>
            <div class="card-body">
              <div class="alert alert-danger text-center" v-if="notification">
                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
              </div>
              <div class="alert alert-danger text-center" v-if="success">
                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
              </div>
              <form @submit.prevent="validateRegister">
                <div class="row">
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="name">
                      Nom
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="text"
                      v-model="form.name"
                      class="form-control bg-white"
                      id="name"
                      name="name"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="longitude">
                      Longitude
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control bg-white"
                      id="longitude"
                      name="longitude"
                      v-model="form.longitude"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="latitude">
                      Latitude
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control bg-white"
                      id="latitude"
                      name="latitude"
                      v-model="form.latitude"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="number">
                      Contact
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control bg-white"
                      id="number"
                      name="number"
                      v-model="form.number"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="adresse">
                      Adresse
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="text"
                      class="form-control bg-white"
                      id="adresse"
                      name="adresse"
                      v-model="form.adresse"
                    />
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="nb_simulateur">
                      Nombre de simulateur
                      <span class="text-danger fw-bold">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control bg-white"
                      id="nb_simulateur"
                      name="nb_simulateur"
                      v-model="form.nb_simulateur"
                    />
                  </div>
                  <div class="col-md-12 d-flex justify-content-end pt-3">
                    <button
                      class="btn btn-primary fw-bold shadow-lg pt-1 text-white border-1 border-white"
                    >
                      <span uk-icon="icon: arrow-right; ratio: 1"></span> Ajouter
                    </button>
                    <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
                    -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "admin",
 data() {
    return {
      form: {
        name: null,
        longitude: null,
        latitude: null,
        adresse: null,
        nb_simulateur: null,
        number: null,
      },
      notification: false,
      cardRegister: false,
      success: false,
    };
  },
  methods: {
    async validateRegister() {
      if (
        this.form.name == null ||
        this.form.longitude == null ||
        this.form.latitude == null ||
        this.form.adresse == null ||
        this.form.nb_simulateur == null ||
        this.form.number == null
      ) {
        this.notification = true;
      } else { 
        this.cardRegister = false;
        // let config = {
        //   headers: {
        //     "Authorization": "Bearer Mw.Lk1yyTuvfHgq1rptVbMV60hDWpPrKbKQXRUYaqoXUJQvvSBdlqmf7BPUuzbM",
        //   },
        // };
        const response = await this.$axios.post("/centres/create", {
          name: this.form.name,
          longitude: this.form.longitude,
          latitude: this.form.latitude,
          adresse: this.form.adresse,
          nb_simulateur: this.form.nb_simulateur,
          number: this.form.number
        });
        const result = response.data;
        if (result.status == "success"){
          this.$router.push('/dashboard/admin/centres')
          this.$swal.fire(
            "",
            "Enregistrement effectué avec succès!",
            "success"
          );
        }else{
          this.$swal.fire(
            "",
            result.message,
            "error"
          );
        }

        }
    },
  },
};
</script>