<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-12">
                   <div class="btn">
                        <nuxt-link to="/dashboard/admin/asset" class="btn btn-primary shadow fw-bold float-start"> + Ajouter un asset</nuxt-link>
                        
                    </div>
                    <div class="card bg-white shadow">
                       
                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Liste des assets</h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Libellé</th>
                                    <th scope="col">Valeur</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>01C</td>
                                        <td>Romaric_auto</td>
                                         <td>
                                            <a href="" class="btn btn-danger shadow text-white">
                                                <span uk-icon="icon: trash; ratio: 1"></span> Supprimer
                                            </a>
                                            <a href="" class="btn btn-info shadow text-white">
                                                <span uk-icon="icon: file-edit; ratio: 1"></span> Modifier
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>01C</td>
                                        <td>Romaric_auto</td>
                                         <td>
                                            <a href="" class="btn btn-danger shadow text-white">
                                                <span uk-icon="icon: trash; ratio: 1"></span> Supprimer
                                            </a>
                                            <a href="" class="btn btn-info shadow text-white">
                                                <span uk-icon="icon: file-edit; ratio: 1"></span> Modifier
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
               </div>
           </div>
       </div>
    </div>
</template>
<script>
    export default {
    layout: "admin",

        data(){
            return {
                assets: [],
            };
        },

        created(){
            this.showAsset()
        },


        methods:{

            async showAsset() {
                const config = {
                    headers: {
                        "Authorization": "Bearer Mw.Lk1yyTuvfHgq1rptVbMV60hDWpPrKbKQXRUYaqoXUJQvvSBdlqmf7BPUuzbM",
                    },
                }

                const asset = await this.$axios.get("/assets", config)
                this.assets = asset.data
            },


            async deleteAsset(id) {
                const config = {
                    headers: {
                        "Authorization": "Bearer Mw.Lk1yyTuvfHgq1rptVbMV60hDWpPrKbKQXRUYaqoXUJQvvSBdlqmf7BPUuzbM",
                    },
                }
                const res = await this.$axios.delete("/asset/"+id, config)
                this.showAsset()
                if(res.data.status == 'error'){
                    this.$swal.fire(res.data.message)
                }
                
            }


            
        }

    }
</script>