<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-10">
                   <div class="btn">
                        <nuxt-link to="/dashboard/admin/assets" class="btn btn-primary shadow fw-bold float-start"><ion-icon name="arrow-back-outline"></ion-icon> Liste des assets</nuxt-link>
                    </div>
                    <div class="card bg-white shadow">
                       
                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Ajout d'un asset</h1>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger text-center" v-if="notification">
                                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
                            </div>
                             <form @submit.prevent="validateAsset">
                                <div class="row">
                                    <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="libelle">Libellé <span class="text-danger fw-bold">*</span></label>
                                        <input type="text" v-model="form.libelle" class="form-control bg-white shadow" id="libelle" name="libelle">
                                    </div>
                                    <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="valeur">Valeur<span class="text-danger fw-bold">*</span></label>
                                        <input type="text" class="form-control bg-white shadow" id="valeur" name="valeur" v-model="form.valeur">
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-end pt-3">
                                        <button class="btn btn-primary shadow fw-bold pt-1 text-white border-1 border-white">
                                            <span uk-icon="icon: arrow-right; ratio: 1"></span> Ajouter
                                        </button>
    <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
 -->                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
               </div>
           </div>
       </div>
    </div>
</template>
<script>
export default {
  layout: "admin",
   data(){
        return {
            form:{
                libelle:null,
                valeur: null,
            },
            notification:false,
            cardAsset : false
        }
    },
    methods:{
        validateAsset(){
            if(this.form.libelle == null || this.form.valeur == null){
                this.notification = true;
            }else{
                this.cardAsset = false;
                this.$router.push('/dashboard/admin/centres')
            }
           
        }

    }
};
</script>