<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-10">
                    <div class="card bg-white shadow">
                        <div class="card-header  d-flex justify-content-center">
                           <h3  class="card-title fw-bold" style="color:#184f69"> Liste des conductuers</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenoms</th>
                                    <th scope="col">Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr scope="row" v-for="(user,n) in users" :key="user.id">
                                        <th >{{n+1}}</th>
                                        <td>
                                           <img :src="' http://192.168.252.193:3333'+user.url_photo" class="img-fluid" style="width:30px ; height:30px" />
                                        </td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.surname}}</td>
                                        <td>{{user.numbers}}</td>
                           
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </div>
</template>


<script>
export default {
    layout: "admin",

    data(){
        return {
            users : []
        };
    },
    created() {
        this.afficherUs()
    },
    methods:{
        async afficherUs() {
            const conduct = await this.$axios.get("/users")
            this.users = conduct.data.data
        }
    }
};
</script>

<style>
.img-fluid {
max-width: 100%;
height: auto
}
</style>