<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-12">
          <div class="btn">
            <nuxt-link
              to="/dashboard/admin/add-supervisor"
              class="btn btn-primary shadow fw-bold float-start"
            >+ Ajouter un superviseur</nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color:#184f69">Liste des superviseurs</h1>
            </div>
            <div class="card-body">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenoms</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Email</th>
                    <th scope="col">Centre</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row" v-for="(admin,n) in superviseurs" :key="admin.id">
                    <th>{{n+1}}</th>
                    <td>{{admin.name}}</td>
                    <td>{{admin.surname}}</td>
                    <td>{{admin.phone}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.nom_centre}}</td>
                    <td>{{admin.status? 'Actif' : 'Non actif'}}</td>
                    <td>
                      <button
                        href
                        class="btn btn-danger shadow text-white"
                        v-on:click="delSup(admin.id)"
                      >
                        <span uk-icon="icon: trash; ratio: 1"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "admin",

  data() {
    return {
      superviseurs: []
    };
  },
  created() {
    this.afficherSup();
  },
  methods: {
    async afficherSup() {
      const supervisors = await this.$axios.get("admin/superviseurs");
      this.superviseurs = supervisors.data.data;
      console.log(supervisors);
    },

    async delSup(id) {
      const delS = await this.$axios.delete("/superviseur/delete/" + id);
      if (delS.data.statut == "success") {
        this.$swal.fire("", delS.data.message, "succes");
        this.afficherSup();
      } else {
        this.$swal.fire("", delS.data.message, "error");
      }
    }
  }
};
</script>