<template>
    <nav class=" navbar navbar-expand bg-accueil py-0">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

      <li class="nav-item d-none d-sm-inline-block"  >
        <nuxt-link to="/driver" class="nav-link uk-text-uppercase" style="color: #0d3230; font-weight: bold;">Mon espace DrivEduc</nuxt-link>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="color: #0d3230;; font-weight: bold;">
                <ion-icon name="expand-outline"></ion-icon>
            </a>
        </li> -->
         <li class="nav-item">
          <a class="nav-link">
             <a class="uk-button uk-button-drive-white-home" to="/auth" @click="logout"  role="button"  style="color: #0d3230;; font-weight: bold;">
              <ion-icon name="log-out-outline"></ion-icon> Se deconnecter
            </a>
          </a>
        </li>
    </ul>
  </nav>
</template>
<script>
export default {
  methods: {
    async logout(){
      await this.$auth.logout();
      this.$router.push('/')
    }
  }

}
</script>
<style>

</style>
