<template>
     <aside class="main-sidebar elevation-2" style="background: #184f69">
          <!-- Brand Logo -->
      <nuxt-link to="/" class="brand-link navbar-white">
        <img src="@/assets/logo.svg" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
        <!-- <span class="brand-text fw-bold text-black pl-3"><b>DrivEduc</b></span> -->
      </nuxt-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel pb-3 mb-3 d-flex">
        <div class="image">
          <img src="@/assets/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info"  v-if="isAuthenticated">
          <nuxt-link to="/driver" class="d-block text-dark uk-link-reset fw-bold">{{loggedInUser.name }} {{loggedInUser.surname }}
</nuxt-link>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <div class="">
            <ul uk-accordion>
                <li>
                  <a class="uk-accordion-title text-white" href="#">
                    <ion-icon name="settings"></ion-icon>
                    <small class="fw-bold">Mes paramètres</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/driver/profile" class="nav-link">
                      <span uk-icon="icon: user; ratio: 1"></span>
                      <p>Profil</p>
                    </nuxt-link>
                     <nuxt-link to="/driver/updatePassword" class="nav-link">
                      <span uk-icon="icon:  file-edit; ratio: 1"></span>
                      <p>Modifier password</p>
                    </nuxt-link>
                    <!-- <a href="#" class="nav-link">
                      <span uk-icon="icon: sign-out; ratio: 1"></span>
                      <p>Se deconnecter</p>
                    </a> -->
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title text-white fw-bold" href="#">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <small class="fw-bold">Gestionnaire</small>
                  </a>
                  <div class="uk-accordion-content  border-1 border-white">
                    <nuxt-link to="/driver/rdv" class="nav-link">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <p>Mes Rendez-vous </p>
                    </nuxt-link>
                    <nuxt-link  to="/driver/historique" class="nav-link">
                     <ion-icon name="speedometer-outline"></ion-icon>
                      <p>Mon Historiques</p>
                    </nuxt-link>

                    <nuxt-link  to="/driver/detailsConduite" class="nav-link">
                     <ion-icon name="reader-outline"></ion-icon>
                      <p>Details de conduite</p>
                    </nuxt-link>
                  </div>
                </li>
              <li>
                   <nuxt-link  to="/driver/quiz" class="nav-link">
                     <ion-icon name="speedometer-outline"></ion-icon>
                      <p>QUIZ</p>
                    </nuxt-link>

              </li>

            </ul>
          </div>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  }
}
</script>
