<template>
    <div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-15">
               
                    <div class="card bg-white shadow">
                       
                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Detail de conduite</h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col"> Prenoms </th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Nom de l'asset</th>
                                    <th scope="col">Valeur nominale </th>
                                    <th scope="col">Valeur</th>
                                    <th scope="col">Coordonnées</th>
                                    <th scope="col"> Action attendue</th>
                                    <th scope="col">Action effectuée</th>
                                    <th scope="col">Statut de l'examen</th>
                                    <th scope="col">Heure Infraction</th>
                                    <th scope="col"> Heure debut examen</th>
                                    <th scope="col">Heure fin examen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="detail_examen in detail_examens" :key="detail_examen.id">
                                        
                                        <td>  {{detail_examen.name}} </td>
                                        <td>  {{detail_examen.surname}} </td>
                                        <td>  {{detail_examen.score}} </td>
                                        <td>  {{detail_examen.nom_asset}} </td>
                                        <td>  {{detail_examen.valeur_nomin}} </td>
                                        <td>  {{detail_examen.valeur}} </td>
                                        <td>  {{detail_examen.coordonne}} </td>
                                        <td>  {{detail_examen.default_action}} </td>
                                        <td>  {{detail_examen.user_action}} </td>
                                        <td>  {{detail_examen.status_examens}} </td>
                                        <td>{{format_heure(detail_examen.add_date)}}</td>
                                        <td>  {{format_heure(detail_examen.heure_debut)}} </td>
                                        <td>  {{format_heure(detail_examen.heure_fin)}} </td>
                                         
                                    </tr>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
               </div>
           </div>
       </div>
    </div>
</template>
<script>
import moment from 'moment'
export default {
  layout: "driver",

    data() {
    return {
     
      detail_examens: [],
    };
  } , 

  created() {this.getdetail_examens()},

  methods: {

       format_date(value){
         if (value) {
           return moment(String(value)).format('YYYY/MM/DD')
          }
        },
format_heure(value){
         if (value) {
           return moment(String(value)).format('hh:mm:ss')
          }
        },

      async getdetail_examens() {

      const response = await this.$axios.get('/detail-examen/details/')
        this.detail_examens = response.data.data

       
      }
  }
};
</script>