<template>
<div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-12">

                    <div class="card bg-white shadow">

                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Votre historique de conduite </h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Type de test</th>
                                    <th scope="col">Contact du centre</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Date de passage </th>
                                    <th scope="col">Centre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Apprentissage</td>
                                        <td>0765897654</td>
                                        <td>Abidjan</td>
                                        <td>12/04/2022 à 14h</td>
                                        <td>Plateau , Caserne de l'indenié</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

               </div>
           </div>
       </div>
    </div>
</template>
<style>

</style>
<script>
export default {
  layout: "driver",
};
</script>
