<template>

  <div class="uk-container uk-flex uk-flex-center pb-4">

    <div uk-grid>
      <div class="info"  v-if="isAuthenticated">
        <h4 class="d-block text-dark uk-link-reset uk-text-bold">
          Bienvenue {{loggedInUser.name }} {{loggedInUser.surname }}, sur ton espace DrivEduc
        </h4>
      </div>
      <div>
        <div class="uk-grid-match uk-child-width-expand@s" uk-grid uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 500" >
          <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/prise-rdv"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
               <div class="uk-flex uk-flex-center">
                  <span uk-icon="icon:  plus-circle; ratio: 2" class="icon-index"></span>
               </div>
              <p class="title-index uk-text-center">Prendre Rendez-vous</p>
            </nuxt-link>
          </div>
         <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/rdv"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
               <div class="uk-flex uk-flex-center">
                  <span uk-icon="icon: calendar; ratio: 2" class="icon-index"></span>
               </div>
              <p class="title-index uk-text-center">Mes rendez-vous</p>
            </nuxt-link>
          </div>
          <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/historique"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
               <div class="uk-flex uk-flex-center">
                  <span uk-icon="icon: history; ratio: 2" class="icon-index"></span>
               </div>
              <p class="title-index uk-text-center">Mon historique</p>
            </nuxt-link>
          </div>
          <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/profile"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
               <div class="uk-flex uk-flex-center">
                  <span uk-icon="icon: user; ratio: 2" class="icon-index"></span>
               </div>
              <p class="title-index uk-text-center">Mon profil</p>
            </nuxt-link>
          </div>
          <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/detailsConduite"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
               <div class="uk-flex uk-flex-center">
                  <ion-icon name="reader-outline" class="large"></ion-icon>
               </div>
              <p class="title-index uk-text-center">Détails conducteur</p>
            </nuxt-link>
          </div>
          <div class="uk-width-1-3@m">
            <nuxt-link to="/driver/quiz"
              class="uk-card uk-card-default uk-card-body uk-border-rounded nav-link">
                <div class="uk-card-badge uk-label bg-accueil" >14/07/2022</div>
               <div class="uk-flex uk-flex-center">
                  <ion-icon name="speedometer-outline" class="large"></ion-icon>
               </div>
              <p class="title-index uk-text-center">Quizz</p>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.large,.icon-index{
  font-size: 64px;
  color: rgb(0, 0, 0);
  --ionicon-stroke-width: 10px;
}
.title-index{
  font-family: 'poppins';
  color: rgb(0, 0, 0);
}
</style>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  },
  layout: "driver",
};
</script>
