
<template>
  <div class="container pb-5 mb-5">
    <div class="row">
      <div class="d-flex justify-content-center mt-5 pt-5">
        <div class="col-md-10">
          <div class="btn">
            <nuxt-link
              to="/driver/rdv"
              class="btn btn-primary shadow fw-bold float-start"
              ><ion-icon name="arrow-back-outline"></ion-icon> Liste de mes
              rendez-vous
            </nuxt-link>
          </div>
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color: #184f69">
                PRENDRE RENDEZ-VOUS EN LIGNE
              </h1>
            </div>
            <br>
             <!-- <div class=" d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color: #184f69">
                Veuillez remplir les champs
              </h1>
            </div> -->
            <div class="card-body">
              <form @submit.prevent="validate">
                <div class="row">
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="motif">
                      Selectionner votre mode
                    </label>
                    <select class="form-control bg-white" name="motif" @change="start()" v-model="type_selected">
                      <option v-for="(mode) in listes_modes" :key="mode.id"  :value="mode.id">
                       • {{ mode.libelle }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group pt-2 col-md-6">
                    <label class="form-label fw-bold" for="centre">
                      Choix du centre
                    </label>
                    <select  class="form-control bg-white" name="centre" @change="getPlage()" v-model="centre_id">
                        <option v-for="centre in liste_centres" :key="centre.id_centre" :value="centre.id_centre">
                        • {{ centre.nom_centre }}
                        </option>

                    </select>
                  </div>
                  <div class="col-md-12 uk-flex ">

                    <div v-if="plage_dispos && plage_dispos.length > 0 " class="form-group pt-2 col-md-12" uk-scrollspy="cls:uk-animation-scale-up">
                        <full-calendar  :header="header" :events="events"  :editable="true"  @eventClick="eventSelected" lang="fr" />
                    <!-- <label class="form-label fw-bold" for="date_rdv">
                      Choisissez la date de passage
                    </label>
                    <select class="form-control bg-white" name="motif" id="" v-model="form.plage" >
                      <option  v-for="plage in plage_dispos" :key="plage.id"  :value="plage.id">
                        • Le : {{format_date( plage.date )}} |
                        - Début : {{ plage.heure_debut }} |
                        - Fin : {{ plage.heure_fin }} |
                        - Place restant {{ plage.nb_place }}
                      </option>
                    </select> -->







                  </div>
                  <p v-if="plage_dispos == null  ||  plage_dispos.length ==[] " class="uk-alert uk-alert-primary" uk-scrollspy="cls:uk-animation-scale-up">
                    Aucune plage horaire existante pour l'instant !
                  </p>
                  </div>

                  <div class="col-md-12 d-flex justify-content-end pt-3">
                    <button  v-if="plage_id != null" type="submit"
                      class="
                        btn btn-primary
                        fw-bold
                        shadow-lg
                        pt-1
                        text-white
                        border-1 border-white
                      "
                      uk-scrollspy="cls:uk-animation-scale-up"
                    >
                      <span uk-icon="icon: arrow-right; ratio: 1"></span> VALIDER
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";

import FullCalendar from 'vue-fullcalendar';
export default {
  layout: "driver",
   name: 'Calendar',


    components: {
        FullCalendar
      },

  data() {
    return {
      form:{
        plage:null,

      },

      plage_id : null,
      listes_modes: [],
      liste_centres: [],
      plage_dispos:[],
      type_selected: null,
      centre_id: null,
       days: [],
         events: [{
           id: '',
            title  : '',
            start  : '',

        }],
         header: {
         start: 'title', // will normally be on the left. if RTL, will be on the right
         center: '',
         end: 'today prev,next'

    },

    };
  },
   mounted(){
    //load days

    let monthDate = moment().startOf('month')
    this.days = [...Array(monthDate.daysInMonth())].map((_, i) => {
      return monthDate.clone().add(i, 'day')
    })
  },
  created() {
    this.getModes();
  },

  methods: {
       eventRender: function (eventObj, $el) {
        $el.popover({
            title: eventObj.title,
            content: eventObj.description,
            trigger: 'hover',
            placement: 'top',
            container: 'body'
        });
    },
  eventSelected(arg){
        this.plage_id = arg.id;
        console.log('Event: '+arg.id );


  },
    format_date(value) {
      if (value) {
        return moment(String(value)).format("YYYY/MM/DD");
      }
    },
    format_heure(value) {
      if (value) {
        return moment(value, "HH:mm:ss").format("HH:mm");
      }
    },
    async getModes() {
      const response = await this.$axios.get("/conduite/types");
      this.listes_modes = response.data.content;
    },
     async getCentres() {
      const response = await this.$axios.get("/plage/centres/"+this.type_selected);
      this.liste_centres = []
      console.log(response)
      if(response.data.status == "nodata") {
        this.$swal.fire({
          position: "center",
          icon: "info",
          title: `${response.data.message}`,
          showConfirmButton: true,
        });
      }else{
        this.liste_centres = response.data.data;
      }
    },

     async start() {
      this.form.plage = null
      this.centre_id = null;
      this.plage_dispos = []
      this.getCentres();
    },

    async getPlage() {
      this.plage_id = null
      const response = await this.$axios.get(`/centre/plage-horaire/${this.centre_id}/${this.type_selected}`);

      if(response.data.status!="nodata"){
        this.plage_dispos = response.data.data;
        console.log("taille "+this.plage_dispos.length)
        if(this.plage_dispos.length>0){
          for(var i = 0; i < this.plage_dispos.length; i++){
            console.log("heure "+ this.format_heure(this.plage_dispos[i].heure_debut ))
            this.events.push({
              id : this.plage_dispos[i].id,
              title  : this.format_heure(this.plage_dispos[i].heure_debut)+" à "+ this.format_heure(this.plage_dispos[i].heure_fin ),
              start  : this.format_date(this.plage_dispos[i].date),
              textColor: "green"
          })
        }
        }

      }
      else{

        this.plage_dispos = [] ;
        this.$swal.fire("", "Desolé, il n'y à aucune plage de disponible merci de réessayer plutard ." , "info");

      }
    },


    async validate() {
      console.log("la plage "+this.plage_id)
      try {
        if(this.plage_id){

           const response = await this.$axios.post("/rdv/create/", {
          plage_id : this.plage_id ,

        });
        if (response.data.status == "success") {
          this.$swal.fire("", "Enregistrement effectué avec succès", "success");
          this.$router.push("/driver/rdv");
        }else{
          this.$swal.fire("", response.data.message , "info");
        }
        }else{
           this.$swal.fire("", "choisissez une plage " , "error ");
        }

      } catch (error) {
       console.log(error)
       this.$swal.fire("", "Une erreur interne est survenue, merci de contacter les admins . " , "error ");
      }
    },
  },
};
</script>
<style >
/* .title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 100px;
  color: #60ca5c;
  letter-spacing: 1px;
  font-size: 6em;
}

.subtitle {
  font-weight: 300;
  font-size: 3em;
  color: #20c449;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.event-box{
  background-color: white;
  color: white;

} */
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item {
  background-color: rgb(10, 114, 173);
  text-align: center;
  text-decoration : blink;
  width: 100%;
  padding: 0;
  color : white;

}
.event-item:hover{
    background-color: rgb(9, 72, 207)!important;
}
.full-calendar-header{
  display: flex;
  align-items: center;
}
  .header-left,.header-right{
    flex:1;
  }
  .header-center{
    flex:3;
    text-align:center;}
    .header-center:title{
      margin: 0 10px;
    }
    .prev-month,.next-month{
      cursor: pointer;
    }

.full-calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: relative;
  z-index: 10;
  padding: 20px;

}
full-calendar-header .header-center .prev-month .full-calendar-header .header-center .next-month {
    cursor: pointer;

}
</style>
