<template>

  <div class="container">

    <div class="row">
      <div class="d-flex justify-content-center pb-5 mb-5">
        <div class="col-md-12">
          <div class="card bg-white shadow">
            <!-- <div class="card-header d-flex justify-content-center"> -->
              <h1 class="card-title fw-bold" style="color: #184f69">
                
              </h1>
            <!-- </div> -->
            <div >
                  <v-tour name="myTour" :steps="steps" :options="myOptions" :callbacks="myCallbacks"  >
                                 <template slot-scope="tour">
                                  <transition name="fade" >
                                    <v-step
                                      v-if="tour.steps[tour.currentStep]"
                                      :key="tour.currentStep"
                                      :step="tour.steps[tour.currentStep]"
                                      :previous-step="tour.previousStep"
                                      :next-step="tour.nextStep"
                                      :stop="tour.stop"
                                      :skip="tour.skip"
                                      :finish="finish"
                                      :is-first="tour.isFirst"
                                      :is-last="tour.isLast"
                                      :labels="tour.labels"
                                       :highlight="tour.highlight"

                                    >
                                      <template v-if="tour.currentStep === 0 || tour.currentStep === 1|| tour.currentStep === 2|| tour.currentStep === 3">
                                        <div slot="actions" >
                                          <button  v-if="tour.currentStep !== 0" @click="tour.previousStep" class="btn btn-primary">precedent</button>
                                          <button @click="tour.nextStep" class="btn btn-primary">suivant</button>
                                          <button @click="demarrer(); tour.skip()" class="btn btn-primary">passer</button>
                                        </div>
                                      </template>
                                      <template v-if="tour.currentStep === 4" >
                                        <div slot="actions" >
                                          <button @click="tour.previousStep" class="btn btn-primary">precedent</button>
                                          <button @click="tour.nextStep" class="btn btn-primary">suivant</button>
                                          <button @click="demarrer(); tour.finish();" class="btn btn-primary">terminer</button>
                                        </div>
                                      </template>
                                    </v-step>
                                  </transition>
                                </template>
                </v-tour>
                </div>
            <div class="card-body">
              <div class="row">
                <div class="right col-md-12" v-if="history == false">
                  <div
                    class="left uk-background-cover uk-background-image@m"
                    style="width: 100%; height: 50vh"
                    v-if="pdemarrer == true" >
                    <div class="d-flex flex-column justify-content-center">
                      <div class="uk-margin pl-3 pt-5">
                        <label
                          class="libelle col-md-12 form-label text-white"
                          style="text-align: center; font-weight: 300"
                          for="intitule" >
                          Pour repondre selectionner une des reponses. N'oublier
                          pas de confirmer vos reponses, <br />
                          avant la fin du temps imparti, en appuyant sur le
                          bouton question suivante
                        </label>
                        <label
                          class="libelle form-label col-md-12 text-white"
                          style="text-align: center; font-weight: 300"
                          for="intitu">
                        </label>
                        <div
                          class="col-md-12 d-flex justify-content-center pt-3">
                          <button
                            class="
                              col-md-2
                              btn
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                              v-on:click="demop"
                            >
                            Demarrer
                          </button>
                        </div>
                      </div>
                      <div class="uk-margin col-md-12 pl-3"></div>
                    </div>
                  </div>
                   <form
                    class="uk-form"
                    v-if="pdemarrer == false && demo == true" >
                    <div
                      class="form-group pt-2 col-md-12"
                      uk-scrollspy="cls:uk-animation-slide-bottom" >
                      <div class="counter " id="v-step-0"  >
                        <div class="button-toggle pl-5 uk-position-top-right">
                          <h4 class="text-9xl pt-0 mt-0 font-bold pl-12 ml-12">
                          </h4>
                        </div>

                        <div class="col-md-12">

                          <progress
                            id="js-progressbar "
                            class="uk-progress progress-green"
                            value="10"
                            max="10"
                          ></progress>

                        </div>
                      </div>
                      <!-- <div class="uk-margin pl-3" >
                        <label class="form-label fw-bold  v-step-1" for="question">
                          Question 0
                        </label>
                      </div> -->

                      <div class="uk-margin " >
                        <div class="w-100 d-flex justify-content-center">
                          <img
                            class="v-step-1"

                             v-bind:src="require('@/assets/admin.jpeg')"
                            alt=""
                              style="width: 15vh; height: 15vh"
                          />
                        </div>
                        <div class=" d-flex justify-content-center v-step-2 pt-5 ">
                          <label
                            class="libelle form-label fw-bold "
                            for="intitule"  style="font-size:1.5rem ;"
                            > Intitule de la question</label
                          >
                        </div>
                      </div>

                      <div class=" uk-margin-bottom uk-form-controls  uk-container uk-flex uk-flex-center v-step-3 " uk-scrollspy="cls:uk-animation-slide-bottom  " >
                        <div class="d-flex justify-content-center uk-margin-bottom ">
                          <div class="card-body form-check">
                            <!-- <ul class="uk-list " > -->
                            <div
                              class=""
                              uk-scrollspy="cls:  uk-animation-scale-up; target: div; delay: 300; repeat: true"
                              uk-grid
                            >
                              <div
                                class="col-md-5 m-4 card bg-white shadow uk-card uk-margin justify-content-center  uk-text-center blink " >

                              <label for="A" class="test col-md-12 p-2 m-2 ropt1"  >
                                <input id="A" type="radio" class=" quiz uk-radio check-with-label "
                                    style="display: none"


                                  />
                               <label for="A" class="test col-md-10 label-for-check  uk-text-center  ropt1" style="width: 100%; height: 100%"   >
                                    Reponse A
                                  </label>



                                </label>


                              </div>
                                <div
                                class="col-md-5 m-4 card bg-white shadow uk-box-shadow-medium uk-margin justify-content-center  uk-text-center blink " >

                              <label for="B" class="test col-md-12 p-2 m-2 ropt1"  >
                                <input id="B" type="radio" class=" quiz uk-radio check-with-label "
                                    style="display: none"
                                    name="reponse"

                                  />
                               <label for="B" class="test col-md-10 label-for-check  uk-text-center  ropt1" style="width: 100%; height: 100%"   >
                              Reponse B
                                  </label>
                                </label>


                              </div>
                                <div
                                class="col-md-5 m-4 card bg-white shadow uk-box-shadow-medium uk-margin justify-content-center  uk-text-center blink " >

                              <label for="C" class="test col-md-12 p-2 m-2 ropt1"  >
                                <input id="C" type="radio" class=" quiz uk-radio check-with-label "
                                    style="display: none"
                                    name="reponse"

                                  />
                               <label for="C" class="test col-md-10 label-for-check  uk-text-center  ropt1" style="width: 100%; height: 100%"   >
                                   Reponse C
                                  </label>
                                </label>
                              </div>
                                <div
                                class="col-md-5 m-4 card bg-white shadow uk-box-shadow-medium uk-margin justify-content-center  uk-text-center blink " >

                              <label for="D" class="test col-md-12 p-2 m-2 ropt1"  >
                                <input id="D" type="radio" class=" quiz uk-radio check-with-label "
                                    style="display: none"
                                    name="reponse"

                                  />
                               <label for="D" class="test col-md-10 label-for-check  uk-text-center  ropt1" style="width: 100%; height: 100%"   >
                                      Reponse D
                                  </label>
                                </label>


                              </div>
                            </div>

                            <!-- </ul>                                           -->
                          </div>
                        </div>
                      </div>
                      <div class="continuer " >
                        <div class="col-md-12 d-flex justify-content-end pt-3">
                          <a
                            data-v-step="2"
                            class="
                              btn btn-primary
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            uk-scrollspy="cls:uk-animation-scale-up"
                          >
                            <span uk-icon="icon: arrow-right; ratio: 1"></span>
                            QUESTION SUIVANTE
                          </a>
                        </div>
                      </div>

                    </div>
                  </form>

                  <form
                    class="uk-form"
                    @submit.prevent="validate"
                    v-if="pdemarrer == false && demo == false" >
                    <div
                      class="form-group pt-2 col-md-12"
                      uk-scrollspy="cls:uk-animation-slide-bottom" >
                      <div class="counter">
                        <div class="button-toggle pl-5 uk-position-top-right">
                          <h4 class="text-9xl pt-0 mt-0 font-bold pl-12 ml-12">
                          </h4>
                        </div>

                        <div class="col-md-12" v-if="fq==true">

                          <progress
                            id="js-progressbar "
                            class="uk-progress progress-green"
                            :value="percentage"
                            max="10"
                          ></progress>

                        </div>
                           <div class="uk-flex uk-flex-center col-md-12" v-if="fq==false">

                          <progress
                            id="js-progressbar "
                            class="uk-progress progress-green"
                            :value="percentage"
                            max="30"
                          ></progress>

                        </div>
                      </div>
                      <div class="uk-margin pl-3" >
                        <label class="form-label fw-bold" for="question">
                       
                        </label>
                        <div class="pl-3">
                      <div class="button-toggle pl-3 uk-position-top-right">
                        <h4 class="pt-0 mt-0 font-bold ">
                          <span class="pl-5">  {{ numero }}/{{nbquestion}}</span>

                        </h4>
                      </div>
                    </div>
                      </div>
                       
                      <div class=" d-flex justify-content-center losange pl-3  pt-5" v-if="type == 0">
                        
                        <label
                          class="libelle form-label fw-bold"
                          for="intitule"  style="font-size:1.7rem ;"
                        >
                          {{ question }}
                        </label>
                      </div>
                      <div class="uk-margin" v-if="type == 1">
                        <div class="w-100 d-flex justify-content-center">
                          <img
                            class=""

                            :src="'http://192.168.252.193:3333'+url_photo"
                            alt=""
                          />
                        </div>
                        <div class=" d-flex justify-content-center losange pt-5">
                          <label
                            class="libelle form-label fw-bold"
                            for="intitule"  style="font-size:1.7rem ;"
                            >{{ question }}</label
                          >
                        </div>
                      </div>

                      <div class="uk-margin uk-form-controls col-md-12 uk-container uk-flex uk-flex-center " uk-scrollspy="cls:uk-animation-slide-bottom" >
                        <div class="d-flex justify-content-center">
                          <div class="card-body form-check">
                            <!-- <ul class="uk-list " > -->
                            <div
                              class=""
                              uk-scrollspy="cls:  uk-animation-scale-up; target: div; delay: 300; repeat: true"
                              uk-grid
                            >
                              <div
                                v-for="(preponse, n) in listreponse"

                                :key="preponse.ref_reponse"
                                class="col-md-5 m-4 card bg-white shadow uk-box-shadow-medium uk-margin justify-content-center  uk-text-center blink " >

                              <label :for="n + 1" class="test col-md-12 p-2 m-2 ropt1"  >
                                <input :id="n + 1" type="radio" class=" quiz uk-radio check-with-label "
                                    style="display: none"
                                    name="reponse"
                                    v-model="choix"
                                    :value="preponse.ref_reponse"
                                  />
                               <label :for="n + 1" class="test col-md-10 label-for-check  uk-text-center  ropt1" style="width: 100%; height: 100%"   >
                                    {{ preponse.libelle }}
                                  </label>



                                </label>


                              </div>
                            </div>

                            <!-- </ul>                                           -->
                          </div>
                        </div>
                      </div>
                      <div class="continuer" v-if="!onload">
                        <div class="col-md-12 d-flex justify-content-end pt-3">
                          <button
                            v-if="btntermine == false"
                            class="
                              btn btn-primary
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            uk-scrollspy="cls:uk-animation-scale-up"
                          >
                            <span uk-icon="icon: arrow-right; ratio: 1"></span>
                            QUESTION SUIVANTE
                          </button>
                          <button
                            v-if="btntermine == true"
                            class="
                              btn btn-primary
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            uk-scrollspy="cls:uk-animation-scale-up"
                          >
                            <span uk-icon="icon: arrow-right; ratio: 1"></span>
                            TERMINE
                          </button>
                        </div>
                      </div>
                      <div v-else>
                        <loader/>
                      </div>
                    </div>
                  </form>
                </div>
                <form
                  class="uk-form"
                  @submit.prevent="accueil"
                  v-if="history == true"
                >
                  <div
                    class="form-group pt-2 col-md-12"
                    uk-scrollspy="cls:uk-animation-slide-bottom"
                  >
                    <label class="col-md-12 uk-text-muted uk-text-center" style="font-size:2rem;">
                      RESULTATS</label
                    >
                    <!-- <div class="">
                      <div class="button-toggle pl-5 uk-position-top-right">
                        <h4 class="pt-0 mt-0 font-bold pl-12 ml-12" style="font-size:2rem;" >
                          <span> score :</span>
                          {{ score }}
                        </h4>
                      </div>
                    </div> -->
                    <!-- <div  v-for="(user_rep, n) in reponse_user" :key="user_rep.id" >
                      <div class="uk-margin pl-3">
                        <label class="form-label fw-bold" for="question">
                          Question {{ n + 1 }}
                        </label>
                        <br />
                      </div>
                 <div class="uk-margin pl-3" v-if="user_rep.type == 0">
                        <label
                          class="libelle form-label fw-bold"
                          for="intitule"
                        >
                          {{ user_rep.question }}
                        </label>

                   
                        <label
                          class="
                            uk-list
                            list-group-item-action
                            border
                            rounded
                            col-md-12
                            p-1
                            mb-2
                          "
                        >
                          <span></span>
                          <label class="col-md-10 uk-text-primary">
                            {{ user_rep.reponse }}</label
                          >
                          <label class="col-md-12 uk-text-danger uk-text-right">
                            {{ user_rep.valeur }}</label
                          >
                        </label>
                  </div>
                      <div class="uk-margin" v-if=" user_rep.type == 1">
                        <div class=" w-100 d-flex justify-content-center">
                          <img
                            class=""

                            :src="'http://192.168.252.193:3333'+user_rep.photo"
                            alt=""
                          />
                        </div>
                        <div class="uk-margin">
                          <label
                            class="libelle form-label fw-bold"
                            for="intitule"
                            >{{ user_rep.question }}</label
                          >
                          <label
                          class="
                            uk-list
                            list-group-item-action
                            border
                            rounded
                            col-md-12
                            p-1
                            mb-2
                          "
                        >
                          <span></span>
                          <label class="col-md-10 uk-text-primary">
                            {{ user_rep.reponse }}</label
                          >
                          <label class="col-md-12 uk-text-danger uk-text-right">
                            {{ user_rep.valeur }}</label
                          >
                        </label>
                        </div>
                      </div>
                    </div> -->
                      <div>
                            <!-- <div class="uk-background-top-right uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center imghistory">
                              
                            </div> -->
                              <div class="w-100 d-flex justify-content-center pt-5">
                              <img v-bind:src="require('@/assets/finish.svg')"
                            alt=""
                              style="width: 60vh; height: 30vh"
                          />
                          
                          </div>
                          <br/>
                          <div class="  uk-flex uk-flex-center pt-5 pb-5" >
                                <div class=" form-label  uk-text-bold uk-text-center " style="font-size:1.9rem; ">
                                  <p class="uk-margin-remove">{{rep_fausse}} fautes sur {{nbquestion}}</p>
                                  <span class="uk-text-normal uk-margin-remove" style="font-size:1.2rem"> Vous avez obtenu un total de <span class="uk-text-bold">{{score}} </span>  sur 10</span> 
                                </div>
                      
                        
                           </div>
                           

                        </div>
                    
                    <div class="continuer">
                      <div class="col-md-12 d-flex justify-content-center ">
                        <button
                          class="
                            btn btn-primary
                            fw-bold
                            shadow-lg
                            pt-1
                            text-white
                            border-1 border-white
                          "
                          uk-scrollspy="cls:uk-animation-scale-up"
                        >
                          <span uk-icon="icon: arrow-right; ratio: 1"></span>
                          RETOUR ACCUEIL
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {

  layout: "driver",

  data() {
    return {
      startquizz:false,
      nbquestion:5,
      reference_quiz: null,
      question: null,
      pdemarrer: true,
      choix: null,
      history: false,
      type: null,
      url_photo: null,
      numero: 0,
      listreponse: [],
      reponse_user: [],
      score: null,
      onload: false,
      compteur: 0,
      percentage: 30,
      intval: null,
      btntermine: false,
      demo:false,
      fq:false,
      rep_fausse:null,
    
       myCallbacks: {
  },
       myOptions: {
          useKeyboardNavigation: false,
          labels: {
            buttonSkip: 'passer',
            buttonPrevious: 'precedent',
            buttonNext: 'suivant',
            buttonStop: 'terminer'
          },
           highlight: true
        },
      steps: [
          {
            target: '#v-step-0',  // We're using document.querySelector() under the hood
            header: {
              title: 'Timer',
            },
            content: `Le temps de reponse `,

          },
          // {
          //   target: '.v-step-1',
          //   content: 'Numero de la question!',

          // },
           {
            target: '.v-step-1',
            content: 'image question!',
             params: {

              placement: 'right' // Any valid Popper.js placement. See https://popper.js.org/popper-documentation.html#Popper.placements
            }

          }, {
            target: '.v-step-2',
            content: 'Intitule de la question!',

          },{
            target: '.v-step-3',
            content: 'Proposition de reponses!',

          },
          {
            target: '[data-v-step="2"]',
            content: 'appuyer sur le bouton pour passer a la question suivante',
            params: {

              placement: 'top' // Any valid Popper.js placement. See https://popper.js.org/popper-documentation.html#Popper.placements
            }
          }
        ]
    };
  },
  // mounted: function () {
  //     this.$tours['myTour'].start()
  // },
  created() {},
  methods: {

    async demande_quiz() {
      this.percentage = 10;
      this.fq=true
      this.onload = true 
      this.stop();
      this.start();
      const response = await this.$axios.get("/quizz/get/");
      this.numero += 1;
      this.reference_quiz = response.data.data.ref;
      console.log("reference "+ this.reference_quiz)
      this.question = response.data.data.question;
      this.listreponse = response.data.data.reponses;
      this.type = response.data.data.type;
      if (this.type == 1) {
        this.url_photo = response.data.data.photo;
      }
      this.onload = false
    },
    finish () {
      this.customCallbacks.onFinish()
      this.demarrer()
    },
    async repondre_question(ref)
    {
      this.question = null
      this.percentage = 30;
      this.fq=false;
      this.stop();
      this.start();

      // this.compteur += 1;


      const response = await this.$axios.post(
        "/reponses/reponse-of-question/",
        {
          ref: ref,
        }
      );
     if(response.status == 200){
            if(response.data.status == "success"){
              if(this.numero < this.nbquestion)
                this.numero += 1;

                    if (response.data.finish ) {
                      this.history = true;
                        this.stop();
                          this.score = response.data.data.Score;
                          this.rep_fausse = response.data.data.reponse_fausse;
                          console.log("faux "+ this.rep_fausse)
                          // this.reponse_user = response.data.data.history;
                    }
                  else {
                          if(response.data.termine){
                            console.log(response.data.termine)
                              this.btntermine = true;
                        }
                          this.question = response.data.data.question;
                          this.listreponse = response.data.data.reponses;
                          this.type = response.data.data.type;
                          if (this.type == 1) {
                            this.url_photo = response.data.data.photo;
                          }


                        }
          }
          else {
               this.$swal.fire(response.data.message)
            }


     }else{
           this.$swal.fire(" Error ")
     }



      // }
    },

    accueil() {
      this.pdemarrer = true;
      this.history = false;
      this.stop();
      this.btntermine = false;
      this.numquestion = null;
      this.numero = 0;
      this.choix = null;
      this.reference_quiz = null;
      this.question_ref = false;
      this.compteur = 0;
      this.type = null;
      this.question = null
      this.url_photo =null;
      this.rep_fausse = null;
      this.no_rep=null;
    },
    tour () {
      this.$tours['myTour'].start()
    },
    demop(){
        this.tour()
        this.pdemarrer = false;
        this.demo = true;
    },
    async demarrer() {

      this.demo = false;
      this.demande_quiz().then(() => {
        this.pdemarrer = false;

      });
    },

    validate() {
      this.onload = true

     if(this.btntermine == false){
        if (this.choix) {
        this.repondre_question(this.choix).then(() => {
          this.choix = null;

        });
      } else {
        this.repondre_question(this.reference_quiz).then(() => {
          this.choix = null;
        });
      }
      this.onload = false
     }else{
            this.terminer();
            this.onload = false
     }

    },
    terminer() {
      this.onload = true
      if (this.choix) {
        this.repondre_question(this.choix).then(() => {
          // this.stop();
          this.history = true;
          this.type = null;
        });
        this.onload = false
      } else {
        this.repondre_question(this.reference_quiz).then(() => {

          // this.stop();
           this.history = true;
           this.type = null;
        });
        this.onload = false
      }
    },


    // start the timeer count
    start() {
      this.intval = setInterval(() => {
        if (this.percentage <= 100) {
          this.percentage -= 1;
          if (this.percentage == -1) {
            clearInterval(this.intval);
            if (this.compteur < this.nbquestion) {
              if (this.choix)
                this.repondre_question(this.choix).then(() => {
                   this.choix = null;

                });
              else
                this.repondre_question(this.reference_quiz).then(() => {
                        this.choix = null;
                });
            } else {
              this.terminer();
            }
          }
        } else {
          clearInterval(this.intval);
        }
      }, 1000);
    },

    // stop the timer interval
    stop() {
      clearInterval(this.intval);
    },
  },
};
</script>
<style lang="scss" scoped>
.uk-progress.progress-green::-webkit-progress-value {
  background-color: rgb(3, 75, 99) ;

}
.uk-progress.progress-green::-moz-progress-bar {
  background-color: rgb(3, 75, 99) ;

}
.uk-progress.progress-green::-ms-fill {
  background-color: rgb(3, 75, 99) ;

}

input[type="radio"].ropt1:checked + label {
    color:green;
    font-weight: bold;
    background-color: green !important
}
.left {
  background-image: url("assets/anime.gif");
}
.imghistory{
   background-image: url("assets/image_code.jpeg");
}
.numero {
  border-width: 20px;
}
.hh.checked{
 background: rgb(3, 102, 231);
}
.hh:hover {
  background: rgb(173, 151, 151);

  /* border: 1px solid #333; */
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  color: #1206c2;
  z-index: 0;
  transition: 2s;
}

.hh:hover::before {
  width: 0px;
  /* background: lightgrey; */
}

.hh:hover::after {
  height: 0px;
  /* background: lightgrey; */
}

.hh:hover {
  background: transparent;
}
.blink:hover {
  animation: blinker 2s linear infinite;
  color: #3f799c;
  border: solid 1px black;
  background-color: aqua;
}

@keyframes blinker {
  from {
    opacity: 0;
    background-color: #5573d6;
  }
  to {
    opacity: 1;
    background-color: #222291;
  }
}
// input:checked + label {
//   background-color: green !important;
// }
// .check-with-label:checked + .label-for-check {
//   font-weight: bold;
//   background-color: #222291 !important;
// }
 input[type="radio"]:checked + label {
  font-weight: bold;
  color : red;
  .hh{
    background:red($color: #000000)
  }
  // background-color: rgb(154, 154, 231) !important;
}

.v-tour__target--highlighted {
  box-shadow: 0 0 0 99999px rgba(0,0,0,.4) !important;
}
.v-step-1::after {
 box-shadow: 0 0 0 99999px rgba(0,0,0,.4);
}
.v-step{
  background: rgba(23, 65, 100, 0.938);

}
.v-step__header[data-v-54f9a632]{
  background-color: rgba(23, 65, 100, 0.938)
}
.qleft,.qright {
  width: 30%;
  height: 6rem;
  background-color: gray;
}
 
.qleft {
  shape-outside: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
  float: left;
  clip-path: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
}
 
.qright {
  shape-outside: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%);
  float: right;
  clip-path: polygon(100% 0, 0 0, 100% 50%, 0 100%, 100% 100%);
}

</style>
