<template>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card bg-white shadow">
            <div class="card-header d-flex justify-content-center">
              <h1 class="card-title fw-bold" style="color: #184f69">
                TEST PERMIS EN LIGNE
              </h1>
            </div>



            <div id="timer">100</div>



            <div class="card-body">
              <div class="row">
                <div class="right col-md-12" v-if="history == false">
                  <div
                    class="left uk-background-cover uk-background-image@m"
                    style="width: 100%; height: 50vh"
                    v-if="pdemarrer == true"
                  >
                    <div class="d-flex flex-column justify-content-center">
                      <div class="uk-margin pl-3 pt-5">
                        <label
                          class="libelle col-md-12 form-label text-white"
                          style="text-align: center; font-weight: 300"
                          for="intitule"
                        >
                          Pour repondre selectionner une des reponses. N'oublier
                          pas de confirmer vos reponses, <br />
                          avant la fin du temps imparti, en appuyant sur le
                          bouton question suivante
                        </label>
                        <label
                          class="libelle form-label col-md-12 text-white"
                          style="text-align: center; font-weight: 300"
                          for="intitu"
                        >
                        </label>
                        <div
                          class="col-md-12 d-flex justify-content-center pt-3"
                        >
                          <button
                            class="
                              col-md-2
                              btn
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            v-on:click="demarrer"
                          >
                            Demarrer
                          </button>
                        </div>
                      </div>
                      <div class="uk-margin col-md-12 pl-3"></div>
                    </div>
                  </div>

                  <form
                    class="uk-form"
                    @submit.prevent="validate"
                    v-if="pdemarrer == false"
                  >
                    <div
                      class="form-group pt-2 col-md-12"
                      uk-scrollspy="cls:uk-animation-slide-bottom"
                    >
                      <div class="counter">
                        <div class="button-toggle pl-5 uk-position-top-right">
                          <h4 class="text-9xl pt-0 mt-0 font-bold pl-12 ml-12">
                            <!-- {{ timerMinutes }}:{{ timerSeconds }} -->
                          </h4>
                        </div>

                        <div class="col-md-12">
                          <div >
                          
                            <div class="loading-bar">
                              <!-- <div
                                class="percentage"
                                :style="{ width: percentage + '%'}"
                              ></div> -->
                            </div>
                          </div>
                        </div>


                        
                      </div>
                      <div class="uk-margin pl-3">
                        <label class="form-label fw-bold" for="question">
                          Question {{ numero }}
                        </label>
                      </div>
                      <div class="uk-margin pl-3" v-if="type == 0">
                        <label
                          class="libelle form-label fw-bold"
                          for="intitule"
                        >
                          {{ question }}
                        </label>
                      </div>
                      <div class="uk-margin" v-if="type == 1">
                        <div class="w-100">
                          <img
                            class=""
                            style="width: 100%; height: 20vh"
                            v-bind:src="require('@/' + url_photo)"
                            alt=""
                          />
                        </div>
                        <div class="uk-margin">
                          <label
                            class="libelle form-label fw-bold"
                            for="intitule"
                            >{{ intitule }}</label
                          >
                        </div>
                      </div>
                   
                      <div
                        class="
                          uk-margin uk-form-controls
                          col-md-12
                          uk-container uk-flex uk-flex-center
                        "
                        uk-scrollspy="cls:uk-animation-slide-bottom"
                      >
                        <div class="d-flex justify-content-center">
                          <div class="card-body form-check">
                            <!-- <ul class="uk-list " > -->
                            <div
                              class=""
                              uk-scrollspy="cls:  uk-animation-scale-up; target: div; delay: 300; repeat: true"
                              uk-grid
                            >
                              <div
                                v-for="(preponse, n) in listreponse"
                                :key="preponse.ref_reponse"
                                class="
                                  col-md-5
                                  m-4
                                  card
                                  bg-white
                                  shadow
                                  uk-box-shadow-medium uk-margin
                                  justify-content-center
                                  uk-text-center
                                  blink
                                "
                              >
                                <label
                                  :for="n + 1"
                                  class="test col-md-12 p-2 m-2"
                                >
                                  <label
                                    :for="n + 1"
                                    class="
                                      test
                                      col-md-10
                                      label-for-check
                                      uk-text-center
                                    "
                                    style="width: 100%; height: 100%"
                                  >
                                    {{ preponse.libelle }}
                                  </label>
                                  <input
                                    :id="n + 1"
                                    type="radio"
                                    class="
                                      uk-radio
                                      check-with-label
                                      col-md-1
                                      m-2
                                    "
                                    style="display: none"
                                    name="reponse"
                                    v-model="choix"
                                    :value="preponse.ref_reponse"
                                  />
                                </label>
                              </div>
                            </div>

                            <!-- </ul>                                           -->
                          </div>
                        </div>
                      </div>
                      <div class="continuer">
                        <div class="col-md-12 d-flex justify-content-end pt-3">
                          <button
                            v-if="compteur < 9"
                            class="
                              btn btn-primary
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            uk-scrollspy="cls:uk-animation-scale-up"
                          >
                            <span uk-icon="icon: arrow-right; ratio: 1"></span>
                            QUESTION SUIVANTE
                          </button>
                          <button
                            v-if="compteur == 9"
                            class="
                              btn btn-primary
                              fw-bold
                              shadow-lg
                              pt-1
                              text-white
                              border-1 border-white
                            "
                            uk-scrollspy="cls:uk-animation-scale-up"
                          >
                            <span uk-icon="icon: arrow-right; ratio: 1"></span>
                            TERMINE
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <form
                  class="uk-form"
                  @submit.prevent="accueil"
                  v-if="history == true"
                >
                  <div
                    class="form-group pt-2 col-md-12"
                    uk-scrollspy="cls:uk-animation-slide-bottom"
                  >
                    <label class="col-md-12 uk-text-muted uk-text-center">
                      RESULTATS</label
                    >
                    <div class="">
                      <div class="button-toggle pl-5 uk-position-top-right">
                        <h4 class="pt-0 mt-0 font-bold pl-12 ml-12">
                          <span> score :</span>
                          {{ score }}
                        </h4>
                      </div>
                    </div>
                    <div
                      v-for="(user_rep, n) in reponse_user"
                      :key="user_rep.id"
                    >
                      <div class="uk-margin pl-3">
                        <label class="form-label fw-bold" for="question">
                          Question {{ n + 1 }}
                        </label>
                        <br />
                        <!-- </div>
                                                    <div class="uk-margin pl-3" v-if="type == 1"> -->
                        <label
                          class="libelle form-label fw-bold"
                          for="intitule"
                        >
                          {{ user_rep.question }}
                        </label>

                        <!--                                                               
                                                        <label class=" blink hh uk-list list-group-item-action border rounded col-md-12 p-1 mb-2" v-if="user_rep.valeur != 'aucune réponse'">
                                                            <span class="numero border p-2 mb-2 pt-2 " >reponse</span>
                                                            <label  class="col-md-10 uk-text-primary" > {{user_rep.reponse}}</label>
                                                         </label> -->
                        <label
                          class="
                            uk-list
                            list-group-item-action
                            border
                            rounded
                            col-md-12
                            p-1
                            mb-2
                          "
                        >
                          <span></span>
                          <label class="col-md-10 uk-text-primary">
                            {{ user_rep.reponse }}</label
                          >
                          <label class="col-md-12 uk-text-danger uk-text-right">
                            {{ user_rep.valeur }}</label
                          >
                        </label>
                      </div>
                      <div class="uk-margin" v-if="type == 1">
                        <div class="w-100">
                          <img
                            class=""
                            style="width: 100%; height: 20vh"
                            v-bind:src="require('@/' + url_photo)"
                            alt=""
                          />
                        </div>
                        <div class="uk-margin">
                          <label
                            class="libelle form-label fw-bold"
                            for="intitule"
                            >{{ intitule }}</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="continuer">
                      <div class="col-md-12 d-flex justify-content-end pt-3">
                        <button
                          class="
                            btn btn-primary
                            fw-bold
                            shadow-lg
                            pt-1
                            text-white
                            border-1 border-white
                          "
                          uk-scrollspy="cls:uk-animation-scale-up"
                        >
                          <span uk-icon="icon: arrow-right; ratio: 1"></span>
                          RETOUR ACCUEIL
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import TimerBar from "../../components/TimerBar.vue";
export default {
  components: { TimerBar },
  layout: "driver",

  data() {
    return {
      form: {
        libelle: "",
      },
      isActive: false,
      question_ref: null,
      reference_quiz: null,
      question: null,
      pdemarrer: true,
      choix: null,
      history: false,
      minuteur: 12,
      intitule: "",
      notification: false,
      totalSeconds: 0,
      pomodoroInstance: null,
      type: null,
      url_photo: null,
      numero: 0,
      listreponse: [],
      reponse_user: [],
      score: null,
      onload: false,
      compteur: 0,
      minutes: 10,
      percentage: 90,
      countdown: null,
      timerBar: false,
    };
  },
  computed: {
    //  timerMinutes() {
    //   const minutes = Math.floor(this.totalSeconds / 60);
    //   return this.formatTime(minutes);
    // },
    // // show seconds
    // timerSeconds() {
    //   let sec = this.totalSeconds % 60;
    //   return this.formatTime(sec);
    // },
  },
  created() {
    var intval = setInterval(() => {
      if (this.percentage < 100) this.percentage -= 1;
      else clearInterval(intval);
    }, 1000);

    // this.start()
  },
  methods: {
    async demande_quiz() {
      const response = await this.$axios.get("/quizz/get/");
      this.numero += 1;
      this.reference_quiz = response.data.data.ref;
      this.question = response.data.data.question;
      this.listreponse = response.data.data.reponses;
      this.type = response.data.data.type;
      if (this.type == 1) {
        this.url_photo = "assets/driver.jpeg";
      }
    },

    async repondre_question(ref) {
      this.numero += 1;
      this.compteur += 1;
      console.log("numero " + this.compteur);

      if (this.compteur > 10) {
        this.history = true;
      }
      // if(value == "reponse"){
      //      const response = await this.$axios.post("/reponses/reponse-of-question/" ,
      // {
      //     ref : ref
      // }
      // );

      //       console.log('tu rentre au num '+this.compteur)
      //        if(response.data.finish == true ){
      //           this.score = response.data.data.Score;
      //           this.history = response.data.data.history
      //           this.reponse_user=[]
      //             }else{

      //             this.question = response.data.data.question
      //             this.listreponse = response.data.data.reponses
      //             this.type = response.data.data.type
      //                 if (this.type == 1){
      //                     this.url_photo = "assets/driver.jpeg"
      //                 }
      //                 console.log("la question "+ this.question)

      //      }
      // //   }
      // }else{
      const response = await this.$axios.post(
        "/reponses/reponse-of-question/",
        {
          ref: ref,
        }
      );



      

      if (response.data.finish == true) {
        this.score = response.data.data.Score;

        this.history = response.data.data.history;
        this.reponse_user = [];
      } else {
        this.question = response.data.data.question;
        this.listreponse = response.data.data.reponses;
        this.type = response.data.data.type;
        if (this.type == 1) {
          this.url_photo = "assets/driver.jpeg";
        }
      }

      // }
    },
    accueil() {
      this.pdemarrer = true;
      this.history = false;
      this.stop();
      this.btntermine = false;
      this.numquestion = null;
      this.numero = 0;
      this.choix = null;
      this.reference_quiz = null;
      this.question_ref = false;
      this.compteur = 0;
    },
    async demarrer() {
      this.demande_quiz().then(() => {
        //     this.demande_question(this.reference_quiz).then(()=>{
        //         console.log("ma ref "+this.reference_quiz)
        //    this.intitule = this.question;
        //    console.log("la question 1: "+this.intitule)
        //    console.log("le type 1: "+ this.type)

        this.intitule = this.question;
        this.pdemarrer = false;
        this.timerBar = true;
        // })
      });
    },
    validate() {
      this.timerBar = false;
    
      console.log("ton choix" + this.choix);
      if (this.choix) {
        this.repondre_question(this.choix).then(() => {
          this.choix = null;
          if (this.compteur < 10) {
            this.intitule = this.question;
          } else {
            this.terminer();
          }
        });

        this.timerBar = true;
      } else {
        this.repondre_question(this.reference_quiz).then(() => {
          this.choix = null;
          if (this.compteur < 10) {
            this.intitule = this.question;
          } else {
            console.log("il rentre dans terminer compteur = " + this.compteur);
            this.terminer();
          }
        });

        this.timerBar = true;
      }
    },
    terminer() {
      if (this.choix) {
        this.repondre_question(this.choix).then(() => {
          this.intitule = this.question;
          this.history = true;
        });
      } else {
        this.repondre_question(this.reference_quiz).then(() => {
          this.intitule = this.question;
          this.history = true;
        });
      }
    },

    formatTime(time) {
      if (time < 10) {
        return "0" + time;
      }
      return time.toString();
    },
    // start the timeer count
    start() {
      this.pomodoroInstance = setInterval(() => {
        this.totalSeconds -= 1;
        if (
          Math.floor(this.totalSeconds / 60) === 0 &&
          this.totalSeconds % 60 === 0
        ) {
          clearInterval(this.pomodoroInstance);
          this.totalSeconds = 0;

          this.demande_question(this.reference_quiz);
          // this.$swal({
          // title: "temps épuisé!",
          // text: "La question suivante demarre dans 5 secondes.",
          // type: "error",
          // timer: 5000
          // })
        }
      }, 1000);
    },

    // stop the timer interval
    stop() {
      clearInterval(this.pomodoroInstance);
    },
    // startTimer(){
    //       let seconds = this.minutes // initial time
    //       let et = this.$refs.elaspedTime
    //       et.style.width = '0%'
    //       this.countdown = setInterval(() => {
    //         this.minutes--;
    //         et.style.width = ((seconds - this.minutes) * 100)/seconds + '%'
    //         if(this.minutes === 0){
    //           this.stopTimer();
    //         }
    //       },1000);
    //     },
    // stopTimer(){
    //   clearInterval(this.countdown);
    //   this.minutes = 10;
    // }
  },
};




</script>
<style lang="scss" scoped>
// .loading-bar {
//   position: relative;
//   width: 100%;
//   height: 20px;
//   border-radius: 15px;
//   overflow: hidden;
//   border: 1px solid rgb(235, 244, 255);
//   animation-duration: 60s;
//   animation-fill-mode: ease;
//   .percentage {
//     position: absolute;
//     top: 1px;
//     left: 1px;
//     right: 1px;
//     display: block;
//     height: 100%;
//     border-radius: 15px;
//     background-image: linear-gradient(
//       90deg,
//       rgb(74, 85, 240) 35%,
//       rgb(48, 97, 204) 100%
//     );

//     animation: animate-stripes 40s linear;
//   }
// }

// @keyframes animate-stripes {
//   0% {
//     width: 100%;
//   }

//   100% {
//     width: 0%;
//   }
// }
.left {
  background-image: url("assets/anime.gif");
}
.numero {
  border-width: 20px;
}

.hh:hover {
  background: rgb(173, 151, 151);

  /* border: 1px solid #333; */
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  color: #1206c2;
  z-index: 0;
  transition: 2s;
}

.hh:hover::before {
  width: 0px;
  /* background: lightgrey; */
}

.hh:hover::after {
  height: 0px;
  /* background: lightgrey; */
}

.hh:hover {
  background: transparent;
}
.blink:hover {
  animation: blinker 2s linear infinite;
  color: #3f799c;
  border: solid 1px black;
  background-color: aqua;
}

@keyframes blinker {
  from {
    opacity: 0;
    background-color: #5573d6;
  }
  to {
    opacity: 1;
    background-color: #222291;
  }
}

input[type='radio'].ropt1,input[type='radio'].ropt2{
    display: none;
}
input[type="radio"].ropt1:checked + label {
    color:green;
    font-weight: bold;
}
input[type="radio"].ropt2:checked + label {
    color:red;
    font-weight: bold;
}
</style>