<template>
<div class="container">
       <div class="row">
           <div class="d-flex justify-content-center mt-5 pt-5">
               <div class="col-md-12">
                   <div class="btn">
                        <nuxt-link to="/driver/prise-rdv" class="btn btn-primary shadow fw-bold float-start"> + Prendre un rendez-vous </nuxt-link>

                    </div>
                    <div class="card bg-white shadow">

                        <div class="card-header d-flex justify-content-center">
                           <h1 class="card-title fw-bold" style="color:#184f69"> Vos differents rendez-vous </h1>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Date de RDV</th>
                                    <th scope="col">Centre</th>
                                    <th scope="col">Contact du centre</th>
                                    <th scope="col">Adresse du centre</th>
                                    <th scope="col">Type de test</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">code du rdv</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody  v-if="prise_rdvs && prise_rdvs.length>0">
                                    <tr scope="row" v-for="(prise_rdv,n) in prise_rdvs" :key="prise_rdv.id">
                                        <th >{{n+1}}</th>
                                        <td>{{format_date(prise_rdv.date_du_test)}}</td>
                                        <td>{{prise_rdv.nom_du_centre}}</td>
                                         <td>{{prise_rdv.contact_du_centre}}</td>
                                         <td>{{prise_rdv.addresse_du_centre}}</td>
                                        <td>{{prise_rdv.type_du_rdv}}</td>
                                        <td v-if="format_date(prise_rdv.date_du_test) > format_date(new Date())">
                                          Pas encore arrivé
                                        </td>
                                        <td v-else-if="format_date(prise_rdv.date_du_test) == format_date(new Date())">
                                          En cours
                                        </td>
                                         <td v-else>
                                          Dépassé
                                        </td>
                                        <td>{{prise_rdv.code_du_rdv}}</td>
                                         <td>
                                            <button
                                                class="btn btn-danger shadow text-white"
                                             v-on:click="deleteRdv(prise_rdv.id_du_rdv)"
                                            >Annuler
                                                <span uk-icon="icon: ban; ratio: 1"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tbody  v-else>
                                  <p>vous n'avez pas de RDV</p>
                                </tbody> -->
                            </table>
                        </div>
                    </div>

               </div>
           </div>
       </div>
    </div>
</template>
<style>

</style>
<script>
import moment from 'moment'
export default {

  layout: "driver",
    data(){
      return{
        prise_rdvs: []
      };
    },
    created () {
    this.showRdv()
      },

      methods:{


        format_date(value){
         if (value) {
           return moment(String(value)).format('YYYY/MM/DD')
          }

        },


        async showRdv(){
         const rdv = await this.$axios.get("/rdv/user-rdv")
         if(rdv.data.status == "nodata"){
           this.prise_rdvs= []
           console.log(rdv.data.message)
         }
         else{
           this.prise_rdvs = rdv.data.data
         console.log(this.prise_rdvs)
         }


      },
      async deleteRdv(id_du_rdv){

         const delete_rdv = await this.$axios.delete("/rdv/delete/"+id_du_rdv)

        if(delete_rdv.data.status=="success"){
          this.$swal.fire("" , delete_rdv.data.message , "success");
          this.showRdv()
        }
        else{
          this.$swal.fire("" , delete_rdv.data.message , "error");
        }

      }
    }
};
</script>
