<template>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card" style="background: #184f69">
                        <div class="card-header d-flex justify-content-center">
                            <h1 class="card-title text-center fw-bold text-white">Modifier mon password</h1>
                        </div>
                        <div class="card-body">

                           <div class="alert alert-danger text-center" v-if="notification">
                                <span class="fw-bold text-white">Veuillez renseigner tous les champ svp !</span>
                            </div>
                             <form @submit.prevent="validateRegister">

                                <div class="row">

                                    <div class="form-group pt-2 col-md-12">
                                        <label class="form-label fw-bold" for="apassword">Ancien Password </label>

                                         <input type="password" v-model="form.apassword" class="form-control bg-white" id="mdp" name="password" >
                                    </div>
                                    <div class="form-group pt-2 col-md-12">
                                        <label class="form-label fw-bold" for="npassword">Nouveau Password </label>
                                       <input type="password" v-model="form.npassword" class="form-control bg-white" id="mdp" name="password" >
                                    </div>
                                    <button class="btn fw-bold shadow-lg pt-1 text-white border-1 border-white">
                                            <span uk-icon="icon: arrow-right; ratio: 1"></span> Modifier
                                        </button>
                                    <!-- <div class="form-group pt-2 col-md-6">
                                        <label class="form-label fw-bold" for="mdp">Nouveau mot de passe <span class="text-danger fw-bold">*</span></label>
                                        <input type="password" v-model="form.password" class="form-control bg-white" id="mdp" name="password" placeholder= "loggedInUser.name ">
                                    </div> -->

                                    <!-- <div class="col-md-12 d-flex justify-content-end pt-3">
                                        <button class="btn fw-bold shadow-lg pt-1 text-white border-1 border-white">
                                            <span uk-icon="icon: arrow-right; ratio: 1"></span> Modifier
                                        </button> -->
    <!--                                     <nuxt-link to="/auth" class="px-4 pt-3 fw-bold text-decoration-none"> Se connecter <ion-icon name="arrow-forward-outline"></ion-icon></nuxt-link>
                         </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  layout: "driver",

  data(){
        return {
            form:{
                apassword: null,
                npassword: null,
            },
            notification:false,
            cardRegister : false
        }
    },
      computed: {
   ...mapGetters(['isAuthenticated' , 'loggedInUser'])
  },
    methods:{
        validateRegister(){
            if(this.form.apassword == null || this.form.npassword == null){
                this.notification = true;
            }else{
                updateRegister()
                this.cardRegister = false;
            }

        },
      async updateRegister(){
           const formData = new FormData() ;
        formData.append('name', this.form.name)
        formData.append('surname' , this.form.username)
        formData.append('url_photo' , this.image_user)
        formData.append('password' , this.form.password)


        }


    }
};
</script>
